{% extends 'layout.html.twig' %}

{% block content %}
  <div class="container">
    <br>
    <a href="{{ path('estado_index') }}"><i class="fas fa-angle-left"></i> Listado de Estados de Artículos</a>
    <br>
    <hr>
    <h2>Editar Estado de Artículo: {{ estado.nombre }}</h2>
    <hr>
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <button type="submit" value="Submit" class="btn btn-dark"><i class="fas fa-save"></i> Guardar</button>
    {{ form_end(edit_form) }}
  </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$( document ).ready(function() {
  $("#appbundle_estado_nombre").prop('disabled', true);
});

</script>
{% endblock %}
