{% extends 'tablelist.html.twig' %}

{% block body %}
  {% block descriptionTable %}
  <br>
    <h1>Estados</h1>
  {% endblock %}

  {% block filters %}
  <span></span>
  <br>
  {% endblock %}

  {% block new %}
    <a class="btn btn-dark" href="{{ path('estado_new') }}">Nuevo Estado</a>
  {% endblock %}

  {% block headPrincipalTable %}
    <th scope="row">Nombre</th>
    <th scope="row">Color</th>
    <th scope="row">Habilitado</th>
    <th scope="row">Actions</th>
  {% endblock %}
    {% block bodyPrincipalTable %}
      {% for estado in estados %}
        <tr>
          <td><a href="{{ path('estado_show', { 'id': estado.id }) }}">{{ estado.nombre }}</a></td>
          <td style="color:{{ estado.color }}">{{ estado.color }}</td>
          <td>{% if estado.habilitado %}Yes{% else %}No{% endif %}</td>
          <td>
            <ul>
                <li>
                    <a href="{{ path('estado_show', { 'id': estado.id }) }}">Ver</a>
                </li>
                <!-- <li>
                    <a href="{{ path('estado_edit', { 'id': estado.id }) }}">Editar</a>
                </li> -->
            </ul>
          </td>
        </tr>
      {% endfor %}
    {% endblock %}
{% endblock %}
