{% extends 'base.html.twig' %}

{% block body %}
    <h1>Estados list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Color</th>
                <th>Habilitado</th>
                <th>Descripcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for estado in estados %}
            <tr>
                <td><a href="{{ path('estado_show', { 'id': estado.id }) }}">{{ estado.id }}</a></td>
                <td>{{ estado.nombre }}</td>
                <td>{{ estado.color }}</td>
                <td>{% if estado.habilitado %}Yes{% else %}No{% endif %}</td>
                <td>{{ estado.descripcion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('estado_show', { 'id': estado.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('estado_edit', { 'id': estado.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('estado_new') }}">Create a new estado</a>
        </li>
    </ul>
{% endblock %}
