{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Estado</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ estado.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ estado.nombre }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ estado.color }}</td>
            </tr>
            <tr>
                <th>Habilitado</th>
                <td>{% if estado.habilitado %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ estado.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('estado_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('estado_edit', { 'id': estado.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
