{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
  <br>
  <a href="{{ path('oficina_show', { 'id': oficina.id }) }}"><i class="fas fa-angle-left"></i> Volver a {{ oficina.nombre }}</a>
  <br>
    <hr>
    <h2>Historial de artículos transferidos de {{oficina.nombre}}</h2>
    <hr>
    <table class="table table">
          {% if historiales is empty %}
          <th scope="row"><div class="alert alert-info" role="alert">
            El historial de {{oficina.nombre}} está vacío, no hay artículos que hayan sido transferidos hasta el momento.
          </div></th>
          {% else %}

              <table class="table table-striped">
                <tr class="table-active">
                    <th scope="row">Fecha</th>
                    <th scope="row">Artículo</th>
                    <th scope="row">Número inventario</th>
                    <th scope="row">Ha sido transferido a</th>
                </tr>
                {%  for h in historiales %}
                <tr>
                  <td scope="row">{{ h.fecha|date('d-m-Y') }}</td>
                  <td scope="row">{{ h.articulo.denominacion }}</td>
                  <td>{{h.articulo.numInventario}}</td>
                  <td>{{h.articulo.oficina}}</td>
                </tr>
                {% endfor %}
          {% endif %}
    </table>
</div>
{% endblock %}
