{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
  <br>
  <a href="{{ path('oficina_show', { 'id': oficina.id }) }}"><i class="fas fa-angle-left"></i> Volver a {{ oficina.nombre }}</a>
  <br>
    <hr>
    <h2>Historial de artículos transferidos de {{oficina.nombre}}</h2>
    <hr>
    <table class="table table">
        <tbody>
          {% if historiales is empty %}
          <th scope="row"><div class="alert alert-info" role="alert">
            El historial de {{oficina.nombre}} está vacío, no hay artículos que hayan sido transferidos hasta el momento.
          </div></th>
          {% else %}
              {%  for h in historiales %}
                <tr>
                    <th scope="row">En la fecha:</th>
                    <td scope="row">{{ h.fecha|date('d-m-Y') }}</td>
                    <th scope="row">El artículo:</th>
                    <td scope="row">{{ h.articulo.denominacion }}</td>
                    <th scope="row">Núm. inventario:</th>
                    <td>{{h.articulo.numInventario}}</td>
                    <th scope="row">Ha sido transferido a:</th>
                    <td>{{h.articulo.oficina}}</td>
                </tr>
                {% endfor %}
          {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
