{% extends 'tablelist.html.twig' %}

{% block body %}
    {% block descriptionTable %}
    <br>
    <h1>Oficinas</h1>
    {% endblock %}

    {% block new %}
      <a class="btn btn-dark" href="{{ path('oficina_new') }}">Nueva Oficina</a>

    {% endblock %}

    {% block headPrincipalTable %}
      <th scope="row">Nombre</th>
      <th scope="row">Responsable</th>
      <th scope="row">Número de Carpeta</th>
      <th scope="row">Acciones</th>
    {% endblock %}

    {% block bodyPrincipalTable %}
      {% for oficina in oficinas %}
        <tr>
            <td><a href="{{ path('oficina_show', { 'id': oficina.id }) }}">{{ oficina.nombre }}</a></td>
            <td>{{ oficina.responsableOficina }}</td>
            <td>{{ oficina.numeroCarpeta }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('oficina_show', { 'id': oficina.id }) }}">Ver</a>
                    </li>
                    <!-- <li>
                        <a href="{{ path('oficina_edit', { 'id': oficina.id }) }}">Editar</a>
                    </li> -->
                </ul>
            </td>
        </tr>
      {% endfor %}
    {% endblock %}
{% endblock %}
