{% extends 'layout.html.twig' %}

{% block content %}
  <div class="container">
    <br>
    <h1>Oficinas</h1>
    <hr>
    {% if is_granted("ROLE_ADMIN") %}
    <div class="">
      <a class="btn btn-dark" href="{{ path('oficina_new') }}">Agregar oficina</a>
    </div>
    {% endif %}
    <br>
    {% block filters %}

    <div class="jumbotron">
      <h4>Buscar oficinas por:</h4>
       <div class="form-row" >
         <div class="form-group col-md-6">
           <label>Nombre</label>
           <input type="text" id="nombre" class="form-control" placeholder="Nombre" name="nombre">
         </div>
        <div class="form-group col-md-6">
          <label>Nro. de carpeta</label>
          <input type="text" id="nroCarpeta" class="form-control" placeholder="Nro. de carpeta" name="carpeta">
        </div>
        <div class="form-group col-md-6">
          <label>Responsable</label>
          <input type="text" id="responsable" class="form-control" placeholder="Responsable" name="carpeta">
        </div>

        <div class="form-group col-md-12">
          <button id="button" class="btn btn-dark">Buscar</button>
          <button id="buttonBorrar" class="btn btn-dark">Limpiar filtros</button>
        </div>
      </div>
    </div>
    {% endblock %}
    <div class="table-responsive">
    <hr>
    <h4>Listado de todas las Oficinas</h4>
    <hr>
      <table  id="tablaOficinas"
              class="table table-hover table-striped"
              data-toggle="table"
              data-height="700"
              data-side-pagination="server"
              data-pagination="true"
              data-page-list="[2, 5, 10, 20, 50, 100, 200]"
              data-url="{{ path('oficina_list') }}"
              >
        <thead>
          <tr>
            <th scope="row" data-field="nombre" data-sortable="true">Nombre</th>
            <th scope="row" data-field="numeroCarpeta" data-sortable="true">Nro. de carpeta</th>
            <th scope="row" data-field="responsableOficina" data-sortable="true">Responsable</th>
            {% if is_granted("ROLE_ADMIN") %}
            <th data-field="id" data-formatter="operateFormatterShow">Ver</th>
            <th data-field="id" data-formatter="operateFormatterEdit">Editar</th>
            {% endif %}
          </tr>
        </thead>
      </table>
  </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
  function operateFormatterShow(value, row, index) {
    show = "{{ path('oficina_show', {id: -1})}}";
    show = show.replace('-1', value);
    return [
      `<a class="edit ml10" href="${show}" title="Ver"><i class="fas fa-search-plus"></i></a>`,
    ].join('');
  }

  function operateFormatterEdit(value, row, index) {
    edit = "{{ path('oficina_edit', {id: -1})}}";
    edit = edit.replace('-1', value);
    return [
      `<a class="edit ml10" href="${edit}" title="Editar"><i class="fas fa-edit"></i></a>`,
    ].join('');
  }
  var $table = $('#tablaOficinas');
</script>
{% endblock %}

{% block serchArticulos  %}
<script>
var $table = $('#tablaOficinas');

$("button").click(function(){
  var nombre = $('#nombre').val();
  var nroCarpeta = $('#nroCarpeta').val();
  var responsable = $('#responsable').val();
  $.ajax({
    method: "POST",
    url: "oficina_listFilter",
    data: {
            "nombre":nombre,
            "nroCarpeta":nroCarpeta,
            "responsable":responsable
          } ,
    success: function(data) {
      //alert(data);
      $table.bootstrapTable('load',data);
      }
    });
  });

  $("#buttonBorrar").click(function(){
    $('#nombre').val('');
    $('#nroCarpeta').val('');
    $('#responsable').val('');
    var nombre = $('#nombre').val();
    var nroCarpeta = $('#nroCarpeta').val();
    var responsable = $('#responsable').val();
    $.ajax({
      method: "POST",
      url: "oficina_listFilter",
      data: {
              "nombre":nombre,
              "nroCarpeta":nroCarpeta,
              "responsable":responsable
            } ,
      success: function(data) {
        //alert(data);
        $table.bootstrapTable('load',data);
        }
      });
    });

</script>
{% endblock %}
