{% extends 'layout.html.twig' %}

{% block content %}
  <div class="container">
    <br>
    <hr>
    <h2>Oficinas</h2>
    <hr>
    {% if is_granted("ROLE_ADMIN") %}
    <div class="">
      <a class="btn btn-dark" href="{{ path('oficina_new') }}"><i class="fas fa-plus"></i> Agregar oficina</a>
    </div>
    {% endif %}
    <br>
    {% block filters %}

    <div class="jumbotron" style="padding-top: 1%; padding-bottom: 0%;">
      <h4>Buscar oficinas por:</h4>
       <div class="form-row" >
         <div class="form-group col-md-4">
           <label>Nombre</label>
           <input type="text" id="nombre" class="form-control" placeholder="Nombre" name="nombre">
         </div>
        <div class="form-group col-md-4">
          <label>Nro. de carpeta</label>
          <input type="text" id="nroCarpeta" class="form-control" placeholder="Nro. de carpeta" name="carpeta">
        </div>
        <div class="form-group col-md-4">
          <label>Responsable</label>
          <input type="text" id="responsable" class="form-control" placeholder="Responsable" name="carpeta">
        </div>

        <div class="form-group col-md-12">
          <button id="button" class="btn btn-dark"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
          <button id="buttonBorrar" class="btn btn-dark">Limpiar filtros</button>
        </div>
      </div>
    </div>
    {% endblock %}
    <div class="table-responsive">
    <hr>
    <h4>Listado de oficinas</h4>
    <hr>
      <table  id="tablaOficinas"
              class="table table-hover table-striped"
              data-toggle="table"
              data-side-pagination="server"
              data-pagination="true"
              data-sort-name="nombre"
              data-sort-order="asc"
              data-page-list="[2, 5, 10, 20, 50, 100, 200]"
              data-url="{{ path('oficina_list') }}"
              >
        <thead>
          <tr>
            <th scope="row" data-field="nombre"="true">Nombre</th>
            <th scope="row" data-field="numeroCarpeta">Nro. de carpeta</th>
            <th scope="row" data-field="responsableOficina">Responsable</th>
            <th data-field="id" data-formatter="operateFormatterAction">Acciones</th>
          </tr>
        </thead>
      </table>
  </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Oficina</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <i class="fas fa-info-circle"></i> Se guardaron los cambios.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$("button").click(function(){
  show = "{{ path('oficina_list', { nombre: -1})}}";
  var nombre = $('#nombre').val();
  var nroCarpeta = $('#nroCarpeta').val();
  var responsable = $('#responsable').val();
  var query = `${nombre}&nroCarpeta=${nroCarpeta}&responsable=${responsable}`;
  show = show.replace('-1', query);
  $('#tablaOficinas').bootstrapTable('refresh', {url: show});
  });

  $("#buttonBorrar").click(function(){
    show = "{{ path('oficina_list', { nombre: -1})}}";
    $('#nombre').val('');
    $('#nroCarpeta').val('');
    $('#responsable').val('');
    var nombre = $('#nombre').val();
    var nroCarpeta = $('#nroCarpeta').val();
    var responsable = $('#responsable').val();
    var query = `${nombre}&nroCarpeta=${nroCarpeta}&responsable=${responsable}`;
    show = show.replace('-1', query);
    $('#tablaOficinas').bootstrapTable('refresh', {url: show});
    });

  {% if editado == 'editado' %}
    $('#editModal').modal('show');
  {%endif%}

  function operateFormatterAction(value, row, index) {
    show = "{{ path('oficina_show', {id: -1})}}";
    show = show.replace('-1', value);
    edit = "{{ path('oficina_edit', {id: -1})}}";
    edit = edit.replace('-1', value);
    return [
      {% if is_granted("ROLE_ADMIN") %}
      `<a class="edit ml10 btn btn-sm btn-outline-primary" href="${show}" title="Ver oficina"><i class="fas fa-search-plus"></i></a>&nbsp;&nbsp;
      <a class="edit ml10 btn btn-sm btn-outline-primary" href="${edit}" title="Editar oficina"><i class="fas fa-edit"></i></a>`,
      {% else %}
        `<a class="edit ml10 btn btn-sm btn-outline-primary" href="${show}" title="Ver oficina"><i class="fas fa-search-plus"></i></a>`,
      {% endif %}
    ].join('');
  }

  var $table = $('#tablaOficinas');
</script>
{% endblock %}
