{% extends 'layout.html.twig' %}

{% block content %}
  <div class="container">
    <br>
    <a href="{{ path('oficina_index') }}"><i class="fas fa-angle-left"></i> Listado de Oficinas</a>
    <br>
    <h2>Nueva Oficina</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_errors(form) }}

    {% if is_granted("ROLE_ADMIN") %}
    <button type="submit" value="Submit" class="btn btn-dark"><i class="fas fa-save"></i> Guardar</button>
    {% endif %}
    {{ form_end(form) }}

    </div>
{% endblock %}
