{% extends 'layout.html.twig' %}

{% block content %}
  <div class="container">
    <br>
    <a href="{{ path('oficina_index') }}"><i class="fas fa-angle-left"></i> Listado de Oficinas</a>
    <br>
    <hr>
    <h2>Nueva Oficina</h2>
    <hr>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_errors(form) }}

    {% if is_granted("ROLE_ADMIN") %}
    <button type="submit" id="btnGuardar" value="Submit" class="btn btn-dark"><i class="fas fa-save"></i> Guardar</button>
    {% endif %}
    {{ form_end(form) }}

    </div>
{% endblock %}
{% block serchArticulos  %}
<script>
$('#btnGuardar').click(function(){
var numCarpeta = $('#appbundle_oficina_numeroCarpeta').val();
if (numCarpeta.length > 4) {
  $('#appbundle_oficina_numeroCarpeta').after("<p class=\"texto text-danger\">Error: el número de carpeta debe contener hasta 4 dígitos</p>");
  $("html, body").animate({scrollTop: $('#appbundle_oficina_numeroCarpeta').offset().top }, 800);
  return false;
}
});

</script>
{% endblock %}
