{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Oficina</h1>
      <a class="btn btn-dark" href="{{ path('transferencia_new') }}">Iniciar Transferencia</a>

    <table>
      <tbody>
        <tr>
          <th>Nombre</th>
          <td>{{ oficina.nombre }}</td>
        </tr>
        <tr>
          <th>Responsable de Oficina</th>
          <td>{{ oficina.responsableOficina }}</td>
        </tr>
        <tr>
          <th>Número Carpeta</th>
          <td>{{ oficina.numeroCarpeta }}</td>
        </tr>
      </tbody>
    </table>

    {% block descriptionTable %}
    <br>
      <h4>Artículos</h4>      
    {% endblock %}

    {% block headPrincipalTable %}
      <th scope="row">Denominación</th>
    {% endblock %}

    {% block bodyPrincipalTable %}
      {% for articulo in oficina.articulos %}
        <tr>
          <td><a href="{{ path('articulo_show', { 'id': articulo.id }) }}">{{ articulo.denominacion }}</a></td>
        </tr>
      {% endfor %}
    {% endblock %}

    <ul>
        <li>
            <a href="{{ path('oficina_index') }}">Volver al listado de Oficinas</a>
        </li>
        <li>
            <a href="{{ path('oficina_edit', { 'id': oficina.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
