{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
  <br>
  <a href="{{ path('oficina_index') }}"><i class="fas fa-angle-left"></i>Listado de Oficinas</a>
  <br>
    <h1>Oficina</h1>
    <table class="table table">
      <tbody>
        <tr>
          <th scope="row">Nombre</th>
          <td scope="row">{{ oficina.nombre }}</td>
        </tr>
        <tr>
          <th scope="row">Responsable de Oficina</th>
          <td scope="row">{{ oficina.responsableOficina }}</td>
        </tr>
        <tr>
          <th scope="row">Número Carpeta</th>
          <td scope="row">{{ oficina.numeroCarpeta }}</td>
        </tr>
      </tbody>
    </table>
    <a class="btn btn-dark" href="{{ path('oficina_edit', { 'id': oficina.id }) }}">Editar</a>
    <br>
    <br>
    <br>
      <h4>Artículos de la oficina</h4>
      <table class="table table">
        <th scope="row">Denominación</th>
        {% for articulo in oficina.articulos %}
        <tr>
          <td scope="row"><a href="{{ path('articulo_show', { 'id': articulo.id }) }}">{{ articulo.denominacion }}</a></td>
        </tr>
      {% endfor %}
    </table>
{% endblock %}
