{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
  <br>
  <a href="{{ path('oficina_index') }}"><i class="fas fa-angle-left"></i> Listado de Oficinas</a>
  <br>
    <h1>Oficina: {{oficina.nombre}}</h1>
    {% if is_granted("ROLE_ADMIN") %}

    {% if operaciones %}
    <div style="margin-bottom: 15px;">
      <a id="continuar" href="{{ path('transferencia_continue', {'id_oficina': oficina.id}) }}">Actualmente, existe una operación en curso. Continuar</a><br>
    </div>
    {% endif %}

    <div class="">
      <a class="btn btn-dark" href="{{ path('articulo_new', { 'id': oficina.id }) }}">Agregar nuevo artículo</a>
      {% if not operaciones %}
        <a class="btn btn-dark" href="{{ path('transferencia_new', {'id_oficina': oficina.id}) }}">Iniciar Transferencia</a>
      {% endif %}
      <a class="btn btn-dark" href="{{ path('baja_new') }}">Iniciar Baja</a>
    </div>
    {% endif %}
  <br>
    <table class="table table">
      <tbody>
        <tr>
          <th scope="row">Nombre</th>
          <td scope="row">{{ oficina.nombre }}</td>
        </tr>
        <tr>
          <th scope="row">Responsable de Oficina</th>
          <td scope="row">{{ oficina.responsableOficina }}</td>
        </tr>
        <tr>
          <th scope="row">Número Carpeta</th>
          <td scope="row">{{ oficina.numeroCarpeta }}</td>
        </tr>
      </tbody>
    </table>
    <a style="margin: 15px;" class="btn btn-dark" href="{{ path('oficina_edit', { 'id': oficina.id }) }}">Editar</a><br>
    <br>

      {% block filters %}

      <div class="jumbotron">
        <h4>Buscar artículos por:</h4>
         <div class="form-row" >
           <div class="form-group col-md-6">
             <label>Nro. de expediente</label>
             <input type="text" id="expediente" class="form-control" placeholder="Nro. de expediente" name="expediente">
           </div>
          <div class="form-group col-md-6">
            <label>Nro. de inventario</label>
            <input type="text" class="form-control" placeholder="Nro. de inventario" name="inventario">
          </div>
          <div class="form-group col-md-6">
            <label>Denominación</label>
            <input type="text" class="form-control" placeholder="Denominación" name="denominacion">
          </div>
          <div class="form-group col-md-3">
            <label>Estado</label>
            <select id="estado" class="form-control" name="estado">
              <option value=""> Seleecione </option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label>Tipo</label>
            <select id="tipo" class="form-control" name="tipo">
              <option value=""> Seleecione </option>
            </select>
          </div>
          <div class="form-group col-md-12">
            <button id="aaa" class="btn btn-dark">Buscar</button>
          </div>
        </div>
      </div>
      {% endblock %}
      <h4>Artículos de {{oficina.nombre}}</h4>
      <div class="table-responsive">
        <button id="exportButtonPdf" class="btn btn-dark"><span class="fa fa-file-pdf-o"></span> Exportar a PDF</button>
        <button id="exportButtonExcel" class="btn btn-dark"><span class="fa fa-file-excel-o"></span> Exportar a Excel</button>
        <table  id="tablaArticulos"
                class="table table-hover table-striped"
                data-toggle="table"
                data-height="400"
                data-side-pagination="server"
                data-pagination="true"
                data-page-list="[2, 5, 10, 20, 50, 100, 200]"
                data-url="{{ path('oficina_show_listado', { 'oficina': oficina.id }) }}"
                >
          <thead>
            <tr>
              <th scope="row" data-field="numInventario" data-sortable="true">NroInventario</th>
              <th scope="row" data-field="numExpediente" data-sortable="true">NroExpediente</th>
              <th scope="row" data-field="denominacion" data-sortable="true">Denominación</th>
              <th scope="row" data-field="tipo" data-sortable="true">Tipo</th>
              <th scope="row" data-field="estado" data-sortable="true">Estado</th>
              {% if is_granted("ROLE_ADMIN") %}
              <th data-field="id" data-formatter="operateFormatter">Acciones</th>
              {% endif %}
            </tr>
          </thead>
        </table>
      </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
  // $("#guardar").click(function(){
  //
  //   //console.log('guardar');
  //   $.ajax({
  //     method: "POST",
  //     url: "",
  //     data: {
  //             "oficina": "{{oficina}}"
  //           } ,
  //     success: function(data) {
  //
  //       console.log(data);
  //       alert('La transferencia ha sido guardada con exito');
  //       $tableTest.bootstrapTable('load',data);
  //     },
  //     error: function(){
  //
  //     }
  //     });
  //   });


  //pdf export
  jQuery(function ($) {
    $("#exportButtonPdf").click(function () {
        var dataSource = shield.DataSource.create({

            data: "#tablaArticulos",
            schema: {
                type: "table",
                fields: {
                    NroInventario: { type: Number },
                    NroExpediente: { type: Number },
                    Denominación: { type: String },
                    Tipo: { type: String },
                    Estado: { type: String }
                }
            }
        });
        dataSource.read().then(function (data) {
            var pdf = new shield.exp.PDFDocument({
                author: "PrepBootstrap",
                created: new Date()
            });
            pdf.addPage("a4", "portrait");
            pdf.table(
                50,
                50,
                data,
                [
                    { field: "NroInventario", title: "Numero de Inventario", width: 120 },
                    { field: "Nro.Expendiente", title: "Numero de Expediente", width: 125 },
                    { field: "Denominación", title: "Denominación", width: 100 },
                    { field: "Tipo", title: "Tipo", width: 50 },
                    { field: "Estado", title: "Estado", width: 50 }
                ],
                {
                    margins: {
                        top: 50,
                        left: 50
                    }
                }
            );
            pdf.saveAs({
                fileName: "PrepBootstrapPDF"
            });
        });
    });

//fin pdf

//excel export

    $("#exportButtonExcel").click(function () {
        var dataSourceExcel = shield.DataSource.create({
            data: "#tablaArticulos",
            schema: {
                type: "table",
                fields: {
                  NroInventario: { type: Number },
                  NroExpediente: { type: Number },
                  Denominación: { type: String },
                  Tipo: { type: String },
                  Estado: { type: String }
                }
            }
        });
        dataSourceExcel.read().then(function (data) {
            new shield.exp.OOXMLWorkbook({
                author: "PrepBootstrap",
                worksheets: [
                    {
                        name: "PrepBootstrap Table",
                        rows: [
                            {
                                cells: [
                                    {
                                        style: {
                                            bold: true
                                        },
                                        type: String,
                                        width: 120,
                                        value: "Numero de Inventario"
                                    },
                                    {
                                        style: {
                                            bold: true
                                        },
                                        type: String,
                                        value: "Numero de Expediente"
                                    },
                                    {
                                        style: {
                                            bold: true
                                        },
                                        type: String,
                                        value: "Denominacion"
                                    },
                                    {
                                        style: {
                                            bold: true
                                        },
                                        type: String,
                                        value: "Tipo"
                                    },
                                    {
                                        style: {
                                            bold: true
                                        },
                                        type: String,
                                        value: "Estado"
                                    }
                                ]
                            }
                        ].concat($.map(data, function(item) {
                            console.log(item);
                            return {
                                cells: [
                                    { type: Number, value: item.NroInventario },
                                    { type: Number, value: item.NroExpediente },
                                    { type: String, value: item.Denominación },
                                    { type: String, value: item.Tipo },
                                    { type: String, value: item.Estado }
                                ]
                            };
                        }))
                    }
                ]
            }).saveAs({
                fileName: "PrepBootstrapExcel"
            });
        });
    });
});




  function operateFormatter(value, row, index) {
    show = "{{ path('articulo_show', {id: -1})}}";
    show = show.replace('-1', value);
    return [
      `<a class="edit ml10" href="${show}" title="Ver"><i class="fas fa-search-plus"></i></a>`,
    ].join('');
  }
  var $table = $('#tablaArticulos');
  $.extend($.fn.bootstrapTable.defaults, {
      showExport: false,
      exportDataType: 'basic', // basic, all, selected
      // 'json', 'xml', 'png', 'csv', 'txt', 'sql', 'doc', 'excel', 'powerpoint', 'pdf'
      exportTypes: ['pdf', 'excel'],
      exportOptions: {}
  });

  $.extend($.fn.bootstrapTable.defaults.icons, {
      export: 'fas fa-file-export'
  });
</script>
{% endblock %}
