{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
  <br>
  <a href="{{ path('oficina_index') }}"><i class="fas fa-angle-left"></i> Listado de Oficinas</a>
  <br>
    <hr>
    <h2>Oficina: {{oficina.nombre}}</h2>
    <hr>
  {% if is_granted("ROLE_ADMIN") %}

    {% if operaciones %}
      {% if tipo == 'transferencia' %}
        <div style="margin-bottom: 15px;">
          <a id="continuar" href="{{ path('transferencia_continue', {'id_oficina': oficina.id}) }}">Actualmente, existe una transferencia en curso. Continuar</a><br>
        </div>
      {% else %}
        <div style="margin-bottom: 15px;">
          <a id="continuar" href="{{ path('baja_continue', {'id_oficina': oficina.id}) }}">Actualmente, existe una baja en curso. Continuar</a><br>
        </div>
    {% endif %}
  {% endif %}
    <div class="">

      <a class="btn btn-dark" href="{{ path('articulo_new', { 'id': oficina.id }) }}"><i class="fas fa-plus"></i> Agregar nuevo artículo</a>
      <a class="btn btn-dark" href="{{ path('articulo_change', {'id': oficina.id}) }}"><i class="fa fa-retweet" aria-hidden="true"></i>
 Cambio de estado</a>
      {% if not operaciones %}
        <a class="btn btn-dark" href="{{ path('transferencia_new', {'id_oficina': oficina.id}) }}"><i class="fa fa-random"></i> Iniciar Transferencia</a>
          <a class="btn btn-dark" href="{{ path('baja_new', {'id_oficina': oficina.id}) }}"><i class="fa fa-minus" aria-hidden="true"></i>
 Iniciar Baja</a>
      {% endif %}

    </div>
    {% endif %}
  <br>
    <table class="table table">
      <tbody>
        <tr>
          <th scope="row">Nombre</th>
          <td scope="row">{{ oficina.nombre }}</td>
        </tr>
        <tr>
          <th scope="row">Responsable de Oficina</th>
          <td scope="row">{{ oficina.responsableOficina }}</td>
        </tr>
        <tr>
          <th scope="row">Número Carpeta</th>
          <td scope="row">{{ oficina.numeroCarpeta }}</td>
        </tr>
        <tr>
          <th scope="row">Historial de artículos</th>
          <td scope="row"><a href="{{ path('oficina_historial', { 'id': oficina.id }) }}">Ver historial de artículos transferidos de {{oficina.nombre}}</a></td>
        </tr>
      </tbody>
    </table>

    {% block filters %}

    <div class="jumbotron" style="padding-top: 1%; padding-bottom: 0%;">
      <h4>Buscar artículos por:</h4>
       <div class="form-row" >
         <div class="form-group col-md-6">
           <label>Nro. de expediente</label>
           <input type="text" id="expediente" class="form-control" placeholder="Nro. de expediente" name="expediente">
         </div>
        <div class="form-group col-md-6">
          <label>Nro. de inventario</label>
          <input type="text" id="nroInventario" class="form-control" placeholder="Nro. de inventario" name="inventario">
        </div>
        <div class="form-group col-md-6">
          <label>Denominación</label>
          <input type="text" id="denominacion" class="form-control" placeholder="Denominación" name="denominacion">
        </div>
        <div class="form-group col-md-2">
          <label>Estado</label>
          <select id="estado" class="form-control" name="estado">
            <option value=""> Seleccione </option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label>Estado adicional</label>
          <select id="estadoAdicional" class="form-control" name="tipo">
            <option value=""> Seleccione </option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label>Tipo</label>
          <select id="tipo" class="form-control" name="tipo">
            <option value=""> Seleccione </option>
          </select>
        </div>
        <div class="form-group col-md-12">
          <button id="button" class="btn btn-dark"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
          <button id="buttonBorrar" class="btn btn-dark">Limpiar filtros</button>
        </div>
      </div>
    </div>
    {% endblock %}
      <hr>
      <h4>Artículos de la oficina: {{oficina.nombre}}</h4>
      <hr>

      <a  href="{{ path('listado_articulos_oficina_pdf', {'id':oficina}) }}" id="" class="btn btn-dark"><span class="fa fa-file-pdf-o"></span><i class="fa fa-paperclip" aria-hidden="true"></i>
      Exportar a PDF</a>
      <button id="exportButtonExcel" class="btn btn-dark"><span class="fa fa-file-excel-o"></span><i class="fa fa-paperclip" aria-hidden="true"></i>
      Exportar a Excel</button>
      <div style="padding-top: 30px;" class="table-responsive">

        <table id="tablaArticulos"
                class="table table-hover table-striped"
                data-toggle="table"
                data-side-pagination="server"
                data-pagination="true"
                data-page-list="[2, 5, 10, 20, 50, 100, 200]"
                data-search="false"

                data-url="{{ path('oficina_show_listado', { 'oficina': oficina.id }) }}"
                >
          <thead>
            <tr>
              <th data-field="id" data-formatter="operateFormatterAction">Acciones</th>
              <th scope="row" data-field="fechaEntrada" data-sortable="true">Fecha entrada</th>
              <th scope="row" data-field="numInventario" data-sortable="true">NroInventario</th>
              <th scope="row" data-field="denominacion" data-sortable="true">Denominación</th>
              <th scope="row" data-field="estado" data-sortable="true">Estado</th>
              <th scope="row" data-field="estadoAdicional" data-sortable="true">Estado Adicional</th>
              <th scope="row" data-field="condicion" data-visible="true">Condición</th>
              <th scope="row" data-field="numExpediente" data-sortable="true">Nro.Expediente</th>
              <th scope="row" data-field="tipo" data-sortable="true">Tipo</th>
              <th scope="row" data-field="material" data-visible="true">Material</th>
              <th scope="row" data-field="marca" data-visible="true">Marca</th>
              <th scope="row" data-field="numFabrica" data-visible="true">Nro.Fabrica</th>
              <th scope="row" data-field="largo" data-visible="true">Largo</th>
              <th scope="row" data-field="alto" data-visible="true">Alto</th>
              <th scope="row" data-field="ancho" data-visible="true">Ancho</th>
              <th scope="row" data-field="estantes" data-visible="true">Estantes</th>
              <th scope="row" data-field="cajones" data-visible="true">Cajones</th>
              <th scope="row" data-field="detalleOrigen" data-visible="true">Detalle de Origen</th>
              <th scope="row" data-field="importe" data-visible="true">Importe</th>
              <th scope="row" data-field="codigoCuentaSubcuenta" data-visible="true">CodigoCuentaSubcuenta</th>

            </tr>
          </thead>
        </table>
      </div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Articulo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <i class="fas fa-info-circle"></i> Se guardaron los cambios.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>

  jQuery(function ($) {
    $("#exportButtonPdf").click(function () {
        var dataSource = shield.DataSource.create({

            data: "#tablaArticulos",
            schema: {
                type: "table",
                fields: {
                    NroInventario: { type: Number },
                    NroExpediente: { type: Number },
                    Denominación: { type: String },
                    Tipo: { type: String },
                    Estado: { type: String }
                }
            }
        });
        dataSource.read().then(function (data) {
            var pdf = new shield.exp.PDFDocument({
                author: "PrepBootstrap",
                created: new Date()
            });
            pdf.addPage("a4", "portrait");
            pdf.table(
                50,
                50,
                data,
                [
                    { field: "NroInventario", title: "Numero de Inventario", width: 120 },
                    { field: "Nro.Expendiente", title: "Numero de Expediente", width: 125 },
                    { field: "Denominación", title: "Denominación", width: 100 },
                    { field: "Tipo", title: "Tipo", width: 50 },
                    { field: "Estado", title: "Estado", width: 50 }
                ],
                {
                    margins: {
                        top: 50,
                        left: 50
                    }
                }
            );
            pdf.saveAs({
                fileName: "Listado_de_articulos_por_oficina"
            });
        });
    });

$("#exportButtonExcel").click(function () {
    var dataSourceExcel = shield.DataSource.create({
        data: "#tablaArticulos",
        schema: {
            type: "table",
            fields: {
              NroInventario: { type: Number },
              NroExpediente: { type: Number },
              Denominación: { type: String },
              Tipo: { type: String },
              Estado: { type: String },
              Condicion: { type: String },
              Oficina: { type: String },
              Material: { type: String },
              Marca: { type: String },
              NumFabrica: { type: String },
              Largo: { type: String },
              Alto: { type: String },
              Ancho: { type: String },
              Estantes: { type: String },
              Cajones: { type: String },
              DetalleOrigen: { type: String },
              Importe: { type: String },
              Entrada: { type: String },
              CodigoCuentaSubcuenta: { type: String }
            }
        }
    });
    dataSourceExcel.read().then(function (data) {
        new shield.exp.OOXMLWorkbook({
            author: "PrepBootstrap",
            worksheets: [
                {
                    name: "PrepBootstrap Table",
                    rows: [
                        {
                            cells: [
                                {
                                    style: {
                                        bold: true
                                    },
                                    type: String,
                                    width: 120,
                                    value: "Numero de Inventario"
                                },
                                {
                                    style: {
                                        bold: true
                                    },
                                    type: String,
                                    value: "Numero de Expediente"
                                },
                                {
                                    style: {
                                        bold: true
                                    },
                                    type: String,
                                    value: "Denominacion"
                                },
                                {
                                    style: {
                                        bold: true
                                    },
                                    type: String,
                                    value: "Tipo"
                                },
                                {
                                    style: {
                                        bold: true
                                    },
                                    type: String,
                                    value: "Estado"
                                },
                                {
                                    style: {
                                        bold: true
                                    },
                                    type: String,
                                    value: "Condicion"
                                },
                                {
                                    style: {
                                        bold: true
                                    },
                                    type: String,
                                    value: "Oficina"
                                },
                                {
                                    style: {
                                        bold: true
                                    },
                                    type: String,
                                    value: "Material"
                                },
                                {
                                    style: {
                                        bold: true
                                    },
                                    type: String,
                                    value: "Marca"
                                },
                                {
                                    style: {
                                        bold: true
                                    },
                                    type: String,
                                    value: "NumFabrica"
                                },
                                {
                                    style: {
                                        bold: true
                                    },
                                    type: String,
                                    value: "Largo"
                                },
                                {
                                    style: {
                                        bold: true
                                    },
                                    type: String,
                                    value: "Alto"
                                },
                                {
                                    style: {
                                        bold: true
                                    },
                                    type: String,
                                    value: "Ancho"
                                },
                                {
                                    style: {
                                        bold: true
                                    },
                                    type: String,
                                    value: "Estantes"
                                },
                                {
                                    style: {
                                        bold: true
                                    },
                                    type: String,
                                    value: "Cajones"
                                },
                                {
                                    style: {
                                        bold: true
                                    },
                                    type: String,
                                    value: "DetalleOrigen"
                                },
                                {
                                    style: {
                                        bold: true
                                    },
                                    type: String,
                                    value: "Importe"
                                },
                                {
                                    style: {
                                        bold: true
                                    },
                                    type: String,
                                    value: "Entrada"
                                },
                                {
                                    style: {
                                        bold: true
                                    },
                                    type: String,
                                    value: "CodigoCuentaSubcuenta"
                                }
                            ]
                        }
                    ].concat($.map(data, function(item) {
                        console.log(item);
                        return {
                            cells: [
                                { type: Number, value: item.NroInventario },
                                { type: Number, value: item.NroExpediente },
                                { type: String, value: item.Denominación },
                                { type: String, value: item.Tipo },
                                { type: String, value: item.Estado },
                                { type: String, value: item.Condicion },
                                { type: String, value: item.Oficina },
                                { type: String, value: item.Material },
                                { type: String, value: item.Marca },
                                { type: String, value: item.NumFabrica },
                                { type: String, value: item.Largo },
                                { type: String, value: item.Alto },
                                { type: String, value: item.Ancho },
                                { type: String, value: item.Estantes },
                                { type: String, value: item.Cajones },
                                { type: String, value: item.DestalleOrigen },
                                { type: String, value: item.Importe },
                                { type: String, value: item.Entrada },
                                { type: String, value: item.CodigoCuentaSubcuenta }
                            ]
                        };
                    }))
                }
            ]
        }).saveAs({
            fileName: "Listado_de_articulos"
        });
    });
});
});

  {% if editado == 'editado' %}
    $('#editModal').modal('show');
  {%endif%}
  function operateFormatterAction(value, row, index) {
    show = "{{ path('articulo_show', {id: -1})}}";
    show = show.replace('-1', value);
    edit = "{{ path('articulo_edit', {id: -1})}}";
    edit = edit.replace('-1', value);
    return [
      {% if is_granted("ROLE_ADMIN") %}
      `<a class="edit ml10" href="${show}" title="Ver artículo"><i class="fas fa-search-plus"></i></a>&nbsp;&nbsp;
      <a class="edit ml10" href="${edit}" title="Editar artículo"><i class="fas fa-edit"></i></a>`,
      {% else %}
      `<a class="edit ml10" href="${show}" title="Ver artículo"><i class="fas fa-search-plus"></i></a>`,
      {% endif %}

    ].join('');
  }

  var xhttpTipos = new XMLHttpRequest();
  xhttpTipos.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      var listado = JSON.parse(this.responseText);
      var tipos = listado.rows;
      var opciones = "";
      for(ti in tipos){
        if (tipos[ti].habilitado == 'Si') {
          opciones += "<option value= \""+ tipos[ti].id + "\">"+ tipos[ti].nombre +"</option>";
        }
      }
      $("#estadoAdicional").append(opciones);
    }
  };
  xhttpTipos.open("GET", "{{ path('estadoAdicional_list') }}", true);
  xhttpTipos.send();

var xhttpEstados = new XMLHttpRequest();
xhttpEstados.onreadystatechange = function() {
  if (this.readyState == 4 && this.status == 200) {
    var listado = JSON.parse(this.responseText);
    var estados = listado.rows;
    var opciones = "";
    for(es in estados){
      if (estados[es].habilitado == 'Si') {
      opciones += "<option value= \""+ estados[es].id + "\">"+ estados[es].nombre +"</option>";
      }
    }
    $("#estado").append(opciones);
  }
};
xhttpEstados.open("GET", "{{ path('estado_list') }}", true);
xhttpEstados.send();

var xhttpTipos = new XMLHttpRequest();
xhttpTipos.onreadystatechange = function() {
  if (this.readyState == 4 && this.status == 200) {
    var listado = JSON.parse(this.responseText);
    var tipos = listado.rows;
    var opciones = "";
    for(ti in tipos){
      if (tipos[ti].habilitado == 'Si') {
          opciones += "<option value= \""+ tipos[ti].id + "\">"+ tipos[ti].concepto +"</option>";
      }
    }
    $("#tipo").append(opciones);
  }
};
xhttpTipos.open("GET", "{{ path('tipo_list') }}", true);
xhttpTipos.send();

  $.extend($.fn.bootstrapTable.defaults, {
      showExport: false,
      exportDataType: 'basic', // basic, all, selected
      // 'json', 'xml', 'png', 'csv', 'txt', 'sql', 'doc', 'excel', 'powerpoint', 'pdf'
      exportTypes: ['pdf', 'excel'],
      exportOptions: {}
  });

  $.extend($.fn.bootstrapTable.defaults.icons, {
      export: 'fas fa-file-export'
  });
</script>
{% endblock %}

{% block serchArticulos  %}
<script>
var $table = $('#tablaArticulos');

$("button").click(function(){
  var nroInventario = $('#nroInventario').val();
  var expediente = $('#expediente').val();
  var denominacion = $('#denominacion').val();
  var estadoAdicional = $('#estadoAdicional').val();
  var estado = $('#estado').val();
  var tipo = $('#tipo').val();
  $.ajax({
    method: "POST",
    url: "{{oficina.id}}/articulo_listFilter_oficinas",
    data: {
            "nroInventario":nroInventario,
            "expediente":expediente,
            "denominacion":denominacion,
            "estado":estado,
            "estadoAdicional": estadoAdicional,
            "tipo":tipo,
            "idOficina":{{oficina.id}}
          } ,
    success: function(data) {
      $table.bootstrapTable('load',data);
      }
    });
  });

  $("#buttonBorrar").click(function(){
    $('#nroInventario').val('');
    $('#expediente').val('');
    $('#denominacion').val('');
    $('#estado').val('');
    $('#tipo').val('');
    $('#estadoAdicional').val('');
    var nroInventario = $('#nroInventario').val();
    var expediente = $('#expediente').val();
    var denominacion = $('#denominacion').val();
    var estado = $('#estado').val();
    var tipo = $('#tipo').val();
    var estadoAdicional = $('#estadoAdicional').val();
    $.ajax({
      method: "POST",
      url: "{{oficina.id}}/articulo_listFilter_oficinas",
      data: {
              "nroInventario":nroInventario,
              "expediente":expediente,
              "denominacion":denominacion,
              "estado":estado,
              "tipo":tipo,
              "idOficina":{{oficina.id}},
              "estadoAdicional": estadoAdicional
            } ,
      success: function(data) {
        $table.bootstrapTable('load',data);
        }
      });
    });
</script>
{% endblock %}
