{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bajas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Expediente</th>
                <th>Observaciones</th>
                <th>Finalizada</th>
                <th>Responsablebaja</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for baja in bajas %}
            <tr>
                <td><a href="{{ path('baja_show', { 'id': baja.id }) }}">{{ baja.id }}</a></td>
                <td>{{ baja.expediente }}</td>
                <td>{{ baja.observaciones }}</td>
                <td>{{ baja.finalizada }}</td>
                <td>{{ baja.responsableBaja }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('baja_show', { 'id': baja.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('baja_edit', { 'id': baja.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('baja_new') }}">Create a new baja</a>
        </li>
    </ul>
{% endblock %}
