{% extends 'layout.html.twig' %}

{% block content %}

<div id="printJS-div">
<div class="container">
  <br>
  <a href="/informes"><i class="fas fa-angle-left"></i> Volver a Informes</a>
  <hr>
  <h2>Informe de Baja de artículos</h2>
  <hr>
  <h5>Detalle de la Baja</h5>
  <label>Realizada en: {{oficinaOrigen}} </label><br>
  <label>Responsable actual de oficina: {{oficinaOrigen.responsableOficina}}</label><br>
  <label>Fecha: {{baja.fecha|date('d-m-Y')}}</label><br>
  <label>Número de expediente: {{baja.expediente}}</label><br><br>
  <h5>Listado de artículos dados de baja:</h5>
  {% for i in articulos %}
    <label>Número de Inventario: {{i.numInventario}} - Denominación: {{i.denominacion}}</label>
  {% endfor %}
  <br><br>

  {% if tieneObservaciones %}
    <h5>Observaciones de la baja:</h5>
    <label>{{baja.observaciones}}</label><br><br>
  {% endif %}

  <a class="btn btn-dark" href="{{ path('baja_informePDF', {'id': baja.id}) }}"><i class="fa fa-paperclip" aria-hidden="true"></i>
 Generar PDF</a>
  </div>
</div>
{% endblock %}
