{% extends 'layout.html.twig' %}

{% block content %}

<div id="printJS-div">
<div class="container">
  <br>
  <a href="/informes"><i class="fas fa-angle-left"></i> Volver a Informes</a>
  <hr>
  <h2>Informe de Baja de artículo/s</h2>
  <hr>
  <h5>Baja realizada en: {{oficinaOrigen}} </h5>
  <hr>
  <h5>Artículos dados de baja:</h5>
  {% for i in articulos %}

    <label>Denominación: {{i.denominacion}}</label> -
    <label>Número de Inventario:  {{i.numInventario}}</label><br>

  {% endfor %}

  {% if tieneObservaciones %}
    <h5>Observaciones de la baja:</h5>
    <p>{{baja.observaciones}}</p><br>
  {% endif %}

  <a class="btn btn-dark" href="{{ path('baja_informePDF', {'id': baja.id}) }}"><i class="fa fa-paperclip" aria-hidden="true"></i>
 Generar PDF</a>
  </div>
</div>
{% endblock %}
