{% extends 'layout.html.twig' %}

{% block content %}



<a href="/informes"><i class="fas fa-angle-left">Volver a Informes </i></a>
<div id="printJS-div">
<h1>Informe de Baja de articulo</h1>
<h3>En: {{oficinaOrigen}} </h3>

<h4>Articulos dados de baja:</h4><br>
{% for i in articulos %}

  Denominacion: {{i.denominacion}}
  Numero de Inventario:  {{i.numInventario}}<br>

{% endfor %}

{% if tieneObservaciones %}
  <h6>Observaciones:</h6>
  {{baja.observaciones}}
{% endif %}

</div>

<a class="btn btn-dark" href="{{ path('baja_informePDF', {'id': baja.id}) }}">Generar PDF</a>
{% endblock %}
