{% extends 'base.html.twig' %}

{% block body %}
    <h1>Baja</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ baja.id }}</td>
            </tr>
            <tr>
                <th>Expediente</th>
                <td>{{ baja.expediente }}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>{{ baja.observaciones }}</td>
            </tr>
            <tr>
                <th>Finalizada</th>
                <td>{{ baja.finalizada }}</td>
            </tr>
            <tr>
                <th>Responsablebaja</th>
                <td>{{ baja.responsableBaja }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('baja_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('baja_edit', { 'id': baja.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
