{% extends 'base.html.twig' %}

{% block body %}
    <h1>Importes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Moneda</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for importe in importes %}
            <tr>
                <td><a href="{{ path('importe_show', { 'id': importe.id }) }}">{{ importe.id }}</a></td>
                <td>{{ importe.moneda }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('importe_show', { 'id': importe.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('importe_edit', { 'id': importe.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('importe_new') }}">Create a new importe</a>
        </li>
    </ul>
{% endblock %}
