{% extends 'layout.html.twig' %}

{% block content %}
  <div class="container">
    <br>
    <a href="{{ path('condicion_index') }}"><i class="fas fa-angle-left"></i> Listado de Condiciones de Artículos</a>
    <br>
    <hr>
    <h2>Editar Condición de Artículo: {{condicion.nombre}}</h2>
    <hr>
      {{ form_start(edit_form) }}
      {{ form_widget(edit_form) }}
      <button type="submit" value="Submit" class="btn btn-dark"><i class="fas fa-save"></i> Guardar</button>
      {{ form_end(edit_form) }}
  </div>
{% endblock %}
