{% extends 'layout.html.twig' %}

{% block content %}
  <div class="container">
    <br>
    <a href="{{ path('condicion_index') }}"><i class="fas fa-angle-left"></i> Listado de Condiciones</a>
    <br>
    <h1>Editar Condición: {{condicion.nombre}}</h1>
      {{ form_start(edit_form) }}
      {{ form_widget(edit_form) }}
      <button type="submit" class="btn btn-dark"><i class="fas fa-save"></i> Guardar</button>
      {{ form_end(edit_form) }}
  </div>
{% endblock %}
