{% extends 'base.html.twig' %}

{% block body %}
    <h1>Condicions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Habilitado</th>
                <th>Descripcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for condicion in condicions %}
            <tr>
                <td><a href="{{ path('condicion_show', { 'id': condicion.id }) }}">{{ condicion.id }}</a></td>
                <td>{{ condicion.nombre }}</td>
                <td>{% if condicion.habilitado %}Yes{% else %}No{% endif %}</td>
                <td>{{ condicion.descripcion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('condicion_show', { 'id': condicion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('condicion_edit', { 'id': condicion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('condicion_new') }}">Create a new condicion</a>
        </li>


    </ul>




{% endblock %}
