{% extends 'layout.html.twig' %}

{% block content %}
  <div class="container">
    <br>
    <a href="{{ path('condicion_index') }}"><i class="fas fa-angle-left"></i> Listado de Condiciones de Artídulos</a>
    <br>
    <hr>
    <h2>Nueva Condición de Artículo</h2>
    <hr>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_errors(form) }}

    <button type="submit" value="Submit" class="btn btn-dark"><i class="fas fa-save"></i> Guardar</button>

    {{ form_end(form) }}

    </div>
{% endblock %}
