{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
  <br>
  <a href="{{ path('condicion_index') }}"><i class="fas fa-angle-left"></i> Listado de Condiciones</a>
  <br>
    <h1>Condición: {{condicion.nombre}}</h1>
    <table class="table table">
        <tbody>
            <tr>
                <th scope="row">Nombre</th>
                <td scope="row">{{ condicion.nombre }}</td>
            </tr>
            <tr>
                <th scope="row">Habilitado</th>
                <td scope="row">{% if condicion.habilitado %}Si{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th scope="row">Descripción</th>
                <td scope="row">{{ condicion.descripcion }}</td>
            </tr>
        </tbody>
    </table>

  <a class="btn btn-dark" style="margin: 15px;" href="{{ path('condicion_edit', { 'id': condicion.id }) }}">Editar</a>

{% endblock %}
