<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Sistema de Inventario</title>
        <link rel="stylesheet" href="{{ asset('css/all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('lib/bootstrap-table/assets/bootstrap4/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('lib/bootstrap-table/bootstrap-table.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/ourstyles.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/light/all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/icon/all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('fontawesome-free-5.7.1/css/all.min.css') }}">


    </head>
    <body>
          {% block nav %}
            {% include "navbar.html.twig" %}
          {% endblock %}

        <main role="main">
          {% block content %}
          {% endblock %}
        </main>
        <div style="height:35px;"></div>

        <footer style="padding-top: 0em; padding-bottom: 0em; width: 100%; text-align: center; position: fixed; bottom:0; background-color: #1f898e;">
          {% block footer %}
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <label style="color:white; font-size: 15px;">Sistema de Inventario - Facultad de Ciencias Médicas - UNLP</label>
              </div>
            </div>
          </div>
          {% endblock %}
        </footer>
        {% block javascripts %}
        <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/shieldui-all.min.js') }}"></script>
        <script src="{{ asset('js/jszip.min.js') }}"></script>
        <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('js/popper.min.js') }}"></script>


        <script src="{{ asset('lib/bootstrap-table/assets/bootstrap4/js/popper.min.js') }}"></script>
        <script src="{{ asset('lib/bootstrap-table/assets/bootstrap4/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('lib/bootstrap-table/bootstrap-table.min.js') }}"></script>
        <script src="{{ asset('lib/bootstrap-table/locale/bootstrap-table-es-ES.min.js') }}"></script>
        <script src="{{ asset('lib/bootstrap-table/extensions/export/bootstrap-table-export.min.js') }}"></script>
        <script src="{{ asset('lib/FileSaver/FileSaver.min.js') }}"></script>
        <script src="{{ asset('lib/tableExport/tableExport.js') }}"></script>
        <script src="{{ asset('lib/jsPDF/jspdf.min.js') }}"></script>
        <script src="{{ asset('lib/jsPDF-AutoTable/jspdf.plugin.autotable.js') }}"></script>
        <script src="{{ asset('pdfmakes/pdfmake.min.js') }}"> </script>
        <script src="{{ asset('pdfmakes/vfs_fonts.js') }}" > </script>
        {% endblock %}
        {% block transferenciaJs  %}
        {% endblock %}
        {% block serchArticulos  %}
        {% endblock %}
        <script>
          $('.dropdown-toggle').dropdown();
        </script>
    </body>
</html>
