{% extends 'layout.html.twig' %}

{% block content %}
<div id="printJS-div">
<div class="container">
  <br>
  <a href="/informes"><i class="fas fa-angle-left"></i> Volver a Informes</a>
  <hr>
  <h2>Informe de Transferencia</h2>
  <hr>
  <a class="btn btn-dark" target="_blank" href="{{ path('informePDF', {'id': transferencia.id}) }}"><i class="fa fa-paperclip" aria-hidden="true"></i> Generar PDF</a><br>

  <h5 style="padding-top:25px;">Informe de Transferencia de artículos</h5>

  <label>Realizada desde la oficina origen: {{oficinaOrigen}} </label><br>
  <label>Responsable actual de oficina origen {{oficinaOrigen}}: {{oficinaOrigen.responsableOficina}}</label><br>
  <label>Hacia la oficina destino: {{oficinaDestino}}</label><br>
  <label>Responsable actual de la oficina destino {{oficinaDestino}}: {{oficinaDestino.responsableOficina}}</label><br>
  <label>Fecha: {{transferencia.fecha|date('d-m-Y')}}</label><br><br>

  <h5>Listado de artículos transferidos</h5>
  <table class="table table-striped">
    <tr>
      <th scope="col">Número de inventario</th>
      <th scope="col">Denominación</th>
      <th scope="col">Condición</th>
    </tr>
    {% for i in articulos %}
    <tr>
      <td>{{i.getArticulo.numInventario}}</td>
      <td>{{i.getArticulo.denominacion}}</td>
      <td>{{i.getCondicion}}</td>
    </tr>
    {% endfor %}
  </table>
  <br><br>
  <div class="border border-dark">
    <div style="margin:5px;">
      <h5>Observaciones de la transferencia</h5>
      {% if tieneObservaciones %}
      <label>{{transferencia.observaciones}}</label><br><br>
      {% else %}
        <label>Sin observaciones</label><br><br>
      {% endif %}
    </div>
  </div>

  </div>
</div>
{% endblock %}
