{% extends 'layout.html.twig' %}

{% block content %}



<a href="/informes"><i class="fas fa-angle-left">Volver a Informes </i></a>
<div id="printJS-div">
<h1>Informe de Transferencia de articulo</h1>
<h3>Desde: {{oficinaOrigen}} </h3>
<h3>Hacia: {{oficinaDestino}}</h3>
<h4>Articulos transferidos:</h4><br>
{% for i in articulos %}

    Denominacion: {{i.denominacion}}
  Numero de Inventario:  {{i.numInventario}}<br>

{% endfor %}

{% if tieneObservaciones %}
  <h6>Observaciones:</h6>
  {{transferencia.observaciones}}
{% endif %}

</div>

<a class="btn btn-dark" href="{{ path('informePDF', {'id': transferencia.id}) }}">Generar PDF</a>
{% endblock %}
