{% extends 'layout.html.twig' %}

{% block content %}

<div id="printJS-div">
<div class="container">
  <br>
  <a href="/informes"><i class="fas fa-angle-left"></i> Volver a Informes</a>
  <hr>
  <h2>Informe de Transferencia de artículos</h2>
  <hr>
  <h5>Detalle de la Transferencia</h5>
  <label>Realizada desde: {{oficinaOrigen}} </label><br>
  <label>Hacia: {{oficinaDestino}}</label><br>
  <label>Fecha: {{transferencia.fecha|date('d-m-Y')}}</label><br><br>

  <h5>Listado de artículos transferidos:</h5>
  {% for i in articulos %}
    <label>Número de Inventario:  {{i.getArticulo.numInventario}} - Denominación: {{i.getArticulo.denominacion}} - Condición: {{i.getCondicion}} </label><br>
  {% endfor %}


  <br><br>

  {% if tieneObservaciones %}
    <h5>Observaciones de la transferencia:</h5>
    <label>{{transferencia.observaciones}}</label><br><br>
  {% endif %}

  <a class="btn btn-dark" href="{{ path('informePDF', {'id': transferencia.id}) }}"><i class="fa fa-paperclip" aria-hidden="true"></i> Generar PDF</a>
  </div>
</div>
{% endblock %}
