{% extends 'layout.html.twig' %}

{% block content %}

<div id="printJS-div">
<div class="container">
  <br>
  <a href="/informes"><i class="fas fa-angle-left"></i> Volver a Informes</a>
  <hr>
  <h2>Informe de Transferencia de artículo/s</h2>
  <hr>
  <h5>Transferecia realizada desde: {{oficinaOrigen}} </h5>
  <h5>Hacia: {{oficinaDestino}}</h5>
  <hr>
  <h5>Artículos transferidos:</h5>
  {% for i in articulos %}

    <label>Denominación: {{i.denominacion}}</label> -
    <label>Número de Inventario:  {{i.numInventario}}</label><br>

  {% endfor %}

  {% if tieneObservaciones %}
    <h5>Observaciones de la transferencia:</h5>
    <p>{{transferencia.observaciones}}</p><br>
  {% endif %}

  <a class="btn btn-dark" href="{{ path('informePDF', {'id': transferencia.id}) }}"><i class="fa fa-paperclip" aria-hidden="true"></i> Generar PDF</a>
  </div>
</div>
{% endblock %}
