{% block content %}
  <pdf>
      <dynamic-page>
        <h2>Informe de Transferencia de artículo/s</h2>
        <h5>Transferencia realzada desde: {{oficinaOrigen}} </h5>
        <h5>Hacia: {{oficinaDestino}}</h5>
        <h5 style="font-style: bold;">Artículos transferidos:</h5>
        {% for i in articulos %}
          <h6 style="font-style: bold;">Denominación:</h6> {{i.denominacion}}
          <h6 style="font-style: bold;">Número de Inventario </h6>{{i.numInventario}}
        {% endfor %}
        {% if tieneObservaciones %}
          <h5 style="font-style: bold;">Observaciones de la transferencia:</h5>
          {{transferencia.observaciones}}
        {% endif %}

    </dynamic-page>
  </pdf>
{% endblock %}
