{% extends 'base.html.twig' %}

{% block body %}
    <h1>Transferencia creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}
    <a class="btn btn-dark" href="{{ path('agregar_articulos') }}">Agregar articulos</a>
    <ul>
        <li>
            <a href="{{ path('transferencia_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
