{% extends 'layout.html.twig' %}

{% block content %}
<div style="margin-left: 2%; margin-right: 2%;">
  <br>
    <h1>Transferencia</h1>

    <a href="{{ path('oficina_index') }}"><i class="fas fa-angle-left"></i> Listado de Oficinas</a>
    <br>
  <div class="container border" style="padding: 30px">
  <div class="row">
    <div class="col-md-6 order-md-1">
      <h4>Artículos de la oficina</h4>
          <div id="toolbar">
              <button id="button" class="btn btn-dark"><i class="fas fa-plus"></i> Agregar a la transferecia</button>
          </div>
          <table id="table"
                 class="table table-hover table-striped"
                 data-side-pagination="server"
                 data-toggle="table"
                 data-toolbar="#toolbar"
                 data-height="460"
                 data-search="true"
                 data-pagination="true"
                 data-click-to-select="true"
                 data-url="{{ path('oficina_show_listado', { 'oficina': oficina }) }}">
                 <thead>
                   <tr>
                     <th data-field="state" data-checkbox="true"></th>
                     <th scope="row" data-field="numInventario" data-sortable="true">Nro. Inventario</th>
                     <th scope="row" data-field="numExpediente" data-sortable="true">Nro. Expediente</th>
                     <th scope="row" data-field="denominacion" data-sortable="true">Denominación</th>
                     <th scope="row" data-field="tipo" data-sortable="true">Tipo</th>
                     <th scope="row" data-field="estado" data-sortable="true">Estado</th>
                   </tr>
                 </thead>
          </table>
      </div>
      <div class="col-md-6 order-md-1">
        <h4>Artículo/s a transferir</h4>
        <div id="toolbar1">
            <button id="button1" class="btn btn-dark"><i class="fas fa-minus"></i> Quitar de la transferecia</button>
        </div>
        <table id="table1"
                class="table table-hover table-striped"
                data-side-pagination="server"
               data-toggle="table"
               data-toolbar="#toolbar1"
               data-height="460"
               data-pagination="true"
               data-search="true"
               data-click-to-select="true"
               data-url=>
               <thead>
                 <tr>
                   <th data-field="state" data-checkbox="true"></th>
                   <th scope="row" data-field="numInventario" data-sortable="true">Nro. Inventario</th>
                   <th scope="row" data-field="numExpediente" data-sortable="true">Nro. Expediente</th>
                   <th scope="row" data-field="denominacion" data-sortable="true">Denominación</th>
                   <th scope="row" data-field="tipo" data-sortable="true">Tipo</th>
                   <th scope="row" data-field="estado" data-sortable="true">Estado</th>
                 </tr>
               </thead>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="container">

<div style="margin-top: 2%;">
{{ form_start(form) }}
    {{ form_widget(form) }}

    <div id="condiciones" >
      <h3 id="condiciones-title">Seleccione condición</h3>

    </div>
</div>

    <input type="hidden" id="articulosIds" name="articulosIds" value="">
    <input type="hidden" id="condicionesIds" name="condicionesIds" value="">
    <input type="hidden" id="articsIds" name="articsIds" value="">
    <input class="btn btn-dark" type="submit" onclick="return validarArticulos()" value="Transferir" style="margin-top: 10px;">


{{ form_end(form) }}
  <button name="guardar" id="guardar" class="btn btn-dark">Guardar</button>
  <button name="cancelar" id="cancelar" class="btn btn-dark">Cancelar</button>

  {% if historiales %}
    {% for i in historiales %}
    <input type="hidden" name="" class="idsArticulosActuales" value="{{i.articulo.id}}">
    {% endfor %}
  {% endif %}

  {% if continuada %}
    <button type="button" id="hacer" name="button">Cargar articulos</button>
  {% endif %}

{% endblock %}

{% block transferenciaJs %}
<style>
  /*TODO: SACARLO DE ACA Y PONERLO EN LOS ESTILOS DE LA PAGINA */
  .pagination-info {
    display:none!important
  }
</style>
<script>








//cargar articulos
  $("#hacer").click(function(){
    if ("{{continuada}}") {
      //alert('se');
      //$tableTest = $('#table1');
      var idsArticulosArray = [];
      var idsIds = $('.idsArticulosActuales').each(function() {
        idsArticulosArray.push($(this).val());
      });
      //console.log(idsArticulosArray);
      var c = idsArticulosArray.join(",");
      $.ajax({
        method: "POST",
        url: "{{oficina}}/traerArticulos",
        data: {
          'articulos': c,
        } ,
        success: function(data) {
           $articsIds = $('#articsIds');
           var idsArticulosArray = [];
           var b = "";
           var idsIds = $('.hiddenIds').each(function() {
             idsArticulosArray.push($(this).val());
          //   console.log(idsArticulosArray);
           });
           console.log(idsArticulosArray);
           $articsIds.val(b);
           b = idsArticulosArray.join(",");
           $articsIds.val(b);
          // console.log(b);
           $.each( data, function( key, value ) {
            //console.log( key + ": " + value.denominacion );
            console.log(value.denominacion);
            $('#condiciones').append(`
              <div class="form-group ${value.id}_container">
                <label class="idsArticulo" for="condiciones['${value.numInventario}']" >${value.denominacion}</label>
                <input type="hidden" class="hiddenIds" name="" value="${value.id}">
                <select class="form-control" name="${value.id}'" id="${value.id}" required>
                    {% for condicion in condiciones %}
                        <option class="asd" value="{{condicion}}" >{{condicion}}</option>
                    {% endfor %}
                </select>
              </div>
              `
            );
          });
          $("#hacer").detach();
        },
        error: function(){
          alert('error');
        }
        });
        //ajax para tabla
        $.ajax({
          method: "POST",
          url: "{{oficina}}/traerArticulosTabla",
          data: {
            'articulos': c,
          } ,
          success: function(data) {
             $tableTest.bootstrapTable('load',data);
             const $dataT = $tableTest.bootstrapTable('getAllSelections');


          },
          error: function(){
            alert('errorss');
          }
          });
    }
});

    $articulosId = $('#articulosIds');
    var $table = $('#table'),
        $tableTest = $('#table1'),
        $button = $('#button');
        $buttonTest = $('#button1');
        $form = $('form');
        $transferenciasId = $('#articulosIds');
        $form.submit(function(){
          $condicionesIds = $('#condicionesIds');
          $articsIds = $('#articsIds');
          var idsCondicionesArray = [];
          var idsArticulosArray = [];
          var b = "";
          var c = "";
          var idsCondiciones = $('.form-control').each(function() {
            idsCondicionesArray.push($(this).val());
          });
          var idsIds = $('.hiddenIds').each(function() {
            idsArticulosArray.push($(this).val());
          });
          console.log(idsArticulosArray);
          b = idsCondicionesArray.join(",");
          $condicionesIds.val(b);
          c = idsArticulosArray.join(",");
          $articsIds.val(c);
          var a = "";
          var $dataTranfe = $tableTest.bootstrapTable('getData');//devuelve un json
          var ids = $.map($tableTest.bootstrapTable('getData'), function (row) {
                return row.numInventario;
            });
            a = ids.join(",");
            $transferenciasId.val(a);
            return true;
        });
        $('#condiciones-title').hide();

    function moveTransferencias ($tableIn, $tableOut, createInput) {
      const $dataT = $tableIn.bootstrapTable('getAllSelections');
      const ids = $.map($tableIn.bootstrapTable('getAllSelections'), function (row) {
        return row.numInventario;
      });
      $dataT.forEach(data => {
        $tableOut.bootstrapTable('insertRow', {
            index: 0,
            row: data
        });
        let id = `condicion_${data.numInventario}`;
        if (createInput) {
          $('#condiciones').append(`
            <div class="form-group ${id}_container">
              <label class="idsArticulo" for="condiciones['${data.numInventario}']" >${data.denominacion}</label>
              <input type="hidden" class="hiddenIds" name="" value="${data.id}">
              <select class="form-control" name="${data.id}'" id="${data.id}" required>
                  {% for condicion in condiciones %}
                      <option class="asd" value="{{condicion}}" >{{condicion}}</option>
                  {% endfor %}
              </select>
            </div>
            `
          );
        } else {
          $(`.${id}_container`).remove();
        }
      });

      $tableIn.bootstrapTable('remove', {
        field: 'numInventario',
        values: ids
      });

      if (createInput && $tableOut.bootstrapTable('getData').length > 0) {
        $('#condiciones-title').show();
      } else if (!createInput && $tableIn.bootstrapTable('getData').length == 0) {
        $('#condiciones-title').hide();
      }

      $tableIn.bootstrapTable('uncheckAll');
      $tableOut.bootstrapTable('uncheckAll');
    }

    $(function () {
      $button.click(() => {
        moveTransferencias($table, $tableTest, true);
      });

      $buttonTest.click(() => {
        moveTransferencias($tableTest, $table, false);
      });
    });

    function validarArticulos(){
      console.log('llegamo');
      $tabla = $('#table1');
      if ($tabla.bootstrapTable('getData') == ""){
        alert('Debe ingresar al menos un articulo a la transferencia');
        return false;
      }else{
        return true;
      }

    }



</script>

{% endblock %}

{% block serchArticulos  %}
<script>

    $("#guardar").click(function(){
      $condicionesIds = $('#condicionesIds');
      $articsIds = $('#articsIds');
      var idsCondicionesArray = [];
      var idsArticulosArray = [];
      var b = "";
      var c = "";
      var idsCondiciones = $('.form-control').each(function() {
        idsCondicionesArray.push($(this).val());
      });
      var idsIds = $('.hiddenIds').each(function() {
        idsArticulosArray.push($(this).val());
      });
      console.log(idsArticulosArray);
      b = idsCondicionesArray.join(",");
      $condicionesIds.val(b);
      c = idsArticulosArray.join(",");
      $articsIds.val(c);
      console.log(c);
      console.log(b);
      var fecha  = $('#appbundle_transferencia_fecha').val();
      var oficinaDestino = $('#appbundle_transferencia_oficina_destino').val();
      var observaciones = $('#appbundle_transferencia_observaciones').val();
      if (c == ""){
        c = null;
      }

      //console.log('guardar');
      $.ajax({
        method: "POST",
        url: "{{oficina}}/test",
        data: {
                "fecha": fecha,
                "oficinaDestino": oficinaDestino,
                "observaciones": observaciones,
                "idsCondiciones": b,
                "idsArticulos": c
              } ,
        success: function(data) {

          console.log(data);
          alert('La transferencia ha sido guardada con exito');
          $tableTest.bootstrapTable('load',data);

        },
        error: function(){

        }
        });
      });

</script>

<script>
  $("#cancelar").click(function(){
    $condicionesIds = $('#condicionesIds');
    $articsIds = $('#articsIds');
    var idsCondicionesArray = [];
    var idsArticulosArray = [];
    var b = "";
    var c = "";
    var idsCondiciones = $('.form-control').each(function() {
      idsCondicionesArray.push($(this).val());
    });
    var idsIds = $('.hiddenIds').each(function() {
      idsArticulosArray.push($(this).val());
    });
    console.log(idsArticulosArray);
    b = idsCondicionesArray.join(",");
    $condicionesIds.val(b);
    c = idsArticulosArray.join(",");
    $articsIds.val(c);
    console.log(c);
    console.log(b);
    var fecha  = $('#appbundle_transferencia_fecha').val();
    var oficinaDestino = $('#appbundle_transferencia_oficina_destino').val();
    var observaciones = $('#appbundle_transferencia_observaciones').val();
    //console.log('guardar');
    $.ajax({
      method: "POST",
      url: "{{oficina}}/transferencia_cancel",
      data: {
              "fecha": fecha,
              "oficinaDestino": oficinaDestino,
              "observaciones": observaciones,
              "idsCondiciones": b,
              "idsArticulos": c
            } ,
      success: function(data) {

          //console.log(data);
        alert('La transferencia ha sido cancelada.');
        //window.location.replace("{{oficina}}/oficina_show");
        //$table.bootstrapTable('load',data);
      },
      error: function(){

      }
      });
    });
</script>
{% endblock %}
