{% extends 'layout.html.twig' %}

{% block content %}
<div style="margin-left: 2%; margin-right: 2%;">
  <br>
    <h1>Transferencia</h1>

    <a href="{{ path('oficina_index') }}"><i class="fas fa-angle-left"></i> Listado de Oficinas</a>
    <br>
  <div class="container border" style="padding: 30px">
  <div class="row">
    <div class="col-md-6 order-md-1">
      <h4>Artículos de la oficina</h4>
          <div id="toolbar">
              <button id="button" class="btn btn-dark"><i class="fas fa-plus"></i> Agregar a la transferecia</button>
          </div>
          <table id="table"
                 class="table table-hover table-striped"
                 data-side-pagination="server"
                 data-toggle="table"
                 data-toolbar="#toolbar"
                 data-height="460"
                 data-search="true"
                 data-pagination="true"
                 data-click-to-select="true"
                 data-url="{{ path('oficina_show_listado', { 'oficina': oficina }) }}">
                 <thead>
                   <tr>
                     <th data-field="state" data-checkbox="true"></th>
                     <th scope="row" data-field="numInventario" data-sortable="true">Nro. Inventario</th>
                     <th scope="row" data-field="numExpediente" data-sortable="true">Nro. Expediente</th>
                     <th scope="row" data-field="denominacion" data-sortable="true">Denominación</th>
                     <th scope="row" data-field="tipo" data-sortable="true">Tipo</th>
                     <th scope="row" data-field="estado" data-sortable="true">Estado</th>
                   </tr>
                 </thead>
          </table>
      </div>
      <div class="col-md-6 order-md-1">
        <h4>Artículo/s a transferir</h4>
        <div id="toolbar1">
            <button id="button1" class="btn btn-dark"><i class="fas fa-minus"></i> Quitar de la transferecia</button>
        </div>
        <table id="table1"
                class="table table-hover table-striped"
                data-side-pagination="server"
               data-toggle="table"
               data-toolbar="#toolbar1"
               data-height="460"
               data-pagination="true"
               data-search="true"
               data-click-to-select="true"
               data-url=>
               <thead>
                 <tr>
                   <th data-field="state" data-checkbox="true"></th>
                   <th scope="row" data-field="numInventario" data-sortable="true">Nro. Inventario</th>
                   <th scope="row" data-field="numExpediente" data-sortable="true">Nro. Expediente</th>
                   <th scope="row" data-field="denominacion" data-sortable="true">Denominación</th>
                   <th scope="row" data-field="tipo" data-sortable="true">Tipo</th>
                   <th scope="row" data-field="estado" data-sortable="true">Estado</th>
                 </tr>
               </thead>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="container">

<div style="margin-top: 2%;">
{{ form_start(form) }}
    {{ form_widget(form) }}

    <div id="condiciones" >
      <h3 id="condiciones-title">Seleccione condición</h3>

    </div>
</div>


    <input type="hidden" id="articulosIds" name="articulosIds" value="">
    <input class="btn btn-dark" type="submit"  value="Transferir" style="margin-top: 10px;">
    <input class="btn btn-dark" type="submit"  value="Guardar" style="margin-top: 10px;">
    <input class="btn btn-dark" type="submit"   value="Cancelar" style="margin-top: 10px;">

{{ form_end(form) }}

{% endblock %}

{% block transferenciaJs %}
<style>
  /*TODO: SACARLO DE ACA Y PONERLO EN LOS ESTILOS DE LA PAGINA */
  .pagination-info {
    display:none!important
  }
</style>
<script>
    var $table = $('#table'),
        $tableTest = $('#table1'),
        $button = $('#button');
        $buttonTest = $('#button1');
        $form = $('form');
        $transferenciasId = $('#articulosIds');
        $form.submit(function(){
          //alert('anduvo');
          var a = "";
          var $dataTranfe = $tableTest.bootstrapTable('getData');//devuelve un json
          var ids = $.map($tableTest.bootstrapTable('getData'), function (row) {
                return row.numInventario;
            });
            a = ids.join(",");
                     //  alert(a);
            $transferenciasId.val(a);
            return true;
        });
        console.log($form);
        $('#condiciones-title').hide();




    function moveTransferencias ($tableIn, $tableOut, createInput) {
      const $dataT = $tableIn.bootstrapTable('getAllSelections');
      const ids = $.map($tableIn.bootstrapTable('getAllSelections'), function (row) {
        return row.numInventario;
      });

      $dataT.forEach(data => {
        $tableOut.bootstrapTable('insertRow', {
            index: 0,
            row: data
        });
        let id = `condicion_${data.numInventario}`;

        if (createInput) {
          $('#condiciones').append(`
            <div class="form-group ${id}_container">
              <label for="condiciones['${data.numInventario}']" >${data.denominacion}</label>
              <select id="${data.numInventario}" name="condiciones['${data.numInventario}']" class="form-control">
                <option>Pepe</option>
              </select>
            </div>
            `
          );
        } else {
          $(`.${id}_container`).remove();
        }
      });

      $tableIn.bootstrapTable('remove', {
        field: 'numInventario',
        values: ids
      });

      if (createInput && $tableOut.bootstrapTable('getData').length > 0) {
        $('#condiciones-title').show();
      } else if (!createInput && $tableIn.bootstrapTable('getData').length == 0) {
        $('#condiciones-title').hide();
      }

      $tableIn.bootstrapTable('uncheckAll');
      $tableOut.bootstrapTable('uncheckAll');
    }

    $(function () {
      $button.click(() => {
        moveTransferencias($table, $tableTest, true);
      });

      $buttonTest.click(() => {
        moveTransferencias($tableTest, $table, false);
      });
    });

</script>

{% endblock %}
