{% extends 'base.html.twig' %}

{% block body %}
    <h1>Estados de Artículos</h1>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Color</th>
                <th scope="col">Habilitado</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for estadoArticulo in estadoArticulos %}
            <tr scope="row">
                <td><a href="{{ path('estadoarticulo_show', { 'id': estadoArticulo.id }) }}">{{ estadoArticulo.nombre }}</a></td>
                <td style="color: {{ estadoArticulo.color }};"><span style="background-color:{{ estadoArticulo.color }};">#######</span></td>
                <td>{% if estadoArticulo.habilitado %}Yes{% else %}No{% endif %}</td>
                <td>{{ estadoArticulo.descripcion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('estadoarticulo_show', { 'id': estadoArticulo.id }) }}">Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('estadoarticulo_edit', { 'id': estadoArticulo.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('estadoarticulo_new') }}">Crear nuevo Estado</a>
        </li>
    </ul>
{% endblock %}
