{% extends 'base.html.twig' %}

{% block body %}
    <h1>Estado Artículo</h1>

    <table>
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ estadoArticulo.nombre }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td style="color: {{ estadoArticulo.color }};"><span style="background-color: {{ estadoArticulo.color }}">#######<span></td>
            </tr>
            <tr>
                <th>Habilitado</th>
                <td>{% if estadoArticulo.habilitado %}Si{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ estadoArticulo.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('estadoarticulo_index') }}">Lista de Estados</a>
        </li>
        <li>
            <a href="{{ path('estadoarticulo_edit', { 'id': estadoArticulo.id }) }}">Editar</a>
        </li>
    </ul>
{% endblock %}
