{% extends 'layout.html.twig' %}

{% block content %}

{% trans_default_domain 'FOSUserBundle' %}
<div class="container border" style="padding: 30px">
  <div class="py-5">
    <h3>Alta de usuario</h3>
    <h6 class="mb-3">Completar los datos para dar de alta un usuario</h6>
  </div>
  {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
      {{ form_widget(form) }}
      <div>
          <input class="btn btn-dark btn-lg" type="submit" value="{{ 'Aceptar'|trans }}" />
      </div>
  {{ form_end(form) }}
</div>

<div class="container border" style="padding: 30px">
  <div class="py-5">
    <h3>Alta de usuario</h3>
    <h6 class="mb-3">Completar los datos para dar de alta un usuario</h6>
  </div>
  <div class="row">
    <div class="col-md-8 order-md-1">
      {{ form_start(form) }}
      <form method="post" action="{{ path('fos_user_registration_register') }}" class="needs-validation" novalidate>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label>Nombre</label>
            <input name="_first_name" type="text" class="form-control" id="firstName" placeholder="Nombre" value="" required>
            <div class="invalid-feedback">
              Ingresar un nombre válido
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label>Apellido</label>
            <input type="text" name="_last_name" class="form-control" id="lastName" placeholder="Apellido" value="" required>
            <div class="invalid-feedback">
              Ingresar un apellido válido
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label>Nombre de usuario</label>
            <input name="_username" type="text" class="form-control" id="username" placeholder="Nombre de usuario" required>
            <div class="invalid-feedback" style="width: 100%;">
              Ingresar un nombre de usuario válido.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label>Correo electrónico</label>
            <input type="email" class="form-control" id="email" placeholder="nombre@example.com">
            <div class="invalid-feedback">
                Ingresar un e-mail válido.
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label>Contraseña</label>
            <input type="password" class="form-control" placeholder="Contraseña" value="" required>
          </div>
          <div class="col-md-6 mb-3">
            <label>Repetir contraseña</label>
            <input type="password" class="form-control" placeholder="Repetir contraseña" value="" required>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="country">Rol</label>
            <select class="custom-select d-block w-100" id="country" required>
              <option value="">Elegir</option>
              <option>Opcion 1</option>
            </select>
          </div>
        </div>
        <input class="btn btn-dark btn-lg" type="submit" value="{{ 'Aceptar'|trans }}"></input>
      </form>
    </div>
  </div>
</div>
{% endblock %}
