{% extends 'layout.html.twig' %}

{% block content %}
{% block body %}
<div class="container">
  <br>
  {% if is_granted("ROLE_SUPER_ADMIN") %}
  <a href="{{ path('user_index') }}"><i class="fas fa-angle-left"></i> Listado de Usuarios</a>
  <br>
  <hr>
  {% endif %}
  {% if is_granted("ROLE_SUPER_ADMIN") == false %}
  <a href="{{ path('oficina_index') }}"><i class="fas fa-angle-left"></i> Listado de Oficinas</a>
  <br>
  <hr>
  {% endif %}
  <h2>Editar Usuario: {{ user.username }}</h2>
  <hr>
	{{ form_start(edit_form) }}
    	{{ form_widget(edit_form) }}
    	<button type="submit" value="Submit" class="btn btn-dark"><i class="fas fa-save"></i> Guardar</button>
      {% if (is_granted("ROLE_SUPER_ADMIN")) and (app.user.id != user.id)%}
      <button type="button" data-toggle="modal" data-target="#confirmModal" class="btn btn-danger"><i class="far fa-trash-alt"></i> Eliminar</button>
      {% endif %}
  {{ form_end(edit_form) }}
</div>

<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar usuario: {{ user.username }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <i class="fas fa-question-circle"></i> ¿Está seguro/a de eliminar el usuario seleccionado?
      </div>
      <div class="modal-footer">
        {{ form_start(delete_form) }}
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" value="Delete" class="btn btn-danger"><i class="far fa-trash-alt"></i> Eliminar</button>
        {{ form_end(delete_form) }}
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar usuario: {{ user.username }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <i class="fas fa-exclamation-triangle"></i> El usuario seleccionado no se puede eliminar ya que tiene operaciones asociadas.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
  {% if eliminado == 'eliminado' %}
    $('#deleteModal').modal('show');
  {%endif%}
</script>
{% endblock %}
