{% extends 'layout.html.twig' %}

{% block content %}
{% block body %}

<div class="container">
  <br>
  <a href="{{ path('user_index') }}"><i class="fas fa-angle-left"></i> Listado de Usuarios</a>
  <br>
  <hr>
  <h2>Nuevo Usuario</h2>
  <hr>
  {{ form_start(form) }}
  {{ form_widget(form) }}

  {{ form_errors(form) }}

  <button type="submit" value="Submit" class="btn btn-dark"><i class="fas fa-save"></i> Guardar</button>

  {{ form_end(form) }}

  </div>
{% endblock %}
{% endblock %}
