{% extends 'layout.html.twig' %}

{% block content %}
{% block body %}
<div class="container">
  <br>
  <a href="{{ path('user_index') }}"><i class="fas fa-angle-left"></i> Listado de usuarios</a>
  <br>
  <hr>
    <h2>Usuario: {{ user.username }}</h2>
    <hr>
    <table class="table table">
        <tbody>
            <tr>
                <th scope="row">Nombre de usuario</th>
                <td scope="row">{{ user.username }}</td>
            </tr>
            <tr>
                <th scope="row">Nombre</th>
                <td scope="row">{{  user.name }}</td>
            </tr>
            <tr>
                <th scope="row">Apellido</th>
                <td scope="row">{{ user.lastname }}</td>
            </tr>
            {% if is_granted("ROLE_SUPER_ADMIN") %}
            <tr>
              <th scope="row">Rol</th>
              {% for role in user.roles %}
                <td scope="row">{{role}}</td>
              {% endfor %}
            {% endif %}
            </tr>
        </tbody>
    </table>
    <br>
</div>

{% endblock %}
{% endblock %}
