{% extends 'layout.html.twig' %}

{% block content %}
{% block body %}
<div class="container">
  <br>
  {% if is_granted("ROLE_SUPER_ADMIN") %}
  <a href="{{ path('user_index') }}"><i class="fas fa-angle-left"></i> Listado de Usuarios</a>
  <br>
  <hr>
  {% else %}
  <a href="{{ path('oficina_index') }}"><i class="fas fa-angle-left"></i> Listado de Oficinas</a>
  <br>
  <hr>
  {% endif %}
    <h2>Usuario: {{ user.username }}</h2>
    <table class="table table">
        <tbody>
            <tr>
                <th scope="row">Nombre de usuario</th>
                <td scope="row">{{ user.username }}</td>
            </tr>
            <tr>
                <th scope="row">Nombre</th>
                <td scope="row">{{  user.name }}</td>
            </tr>
            <tr>
                <th scope="row">Apellido</th>
                <td scope="row">{{ user.lastname }}</td>
            </tr>
            {% if is_granted("ROLE_SUPER_ADMIN") %}
            <tr>
              <th scope="row">Rol</th>
              {% for role in user.roles %}
              {% if role == "ROLE_ADMIN" %}
                <td scope="row">Administrador</td>
              {% endif %}
              {% if role == "ROLE_USER" %}
                <td scope="row">Visitante</td>
              {% endif %}
              {% if role == "ROLE_SUPER_ADMIN" %}
                <td scope="row">SuperUsuario</td>
              {% endif %}
              {% endfor %}
            {% endif %}
            </tr>
        </tbody>
    </table>
    <br>
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Editar Usuario</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <i class="fas fa-info-circle"></i> {{mensaje}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
</div>
{% endblock %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
  {% if editado == 'editado' %}
    $('#editModal').modal('show');
  {%endif%}
</script>
{% endblock %}
