{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
<br>
<a href="{{ path('tipo_index') }}"><i class="fas fa-angle-left"></i> Listado de Tipos de Artículos</a>
<br>
<hr>
    <h2>Editar Tipo de Artículo: {{ tipo.nomenclador }}</h2>
<hr>
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <button type="submit" value="Submit" class="btn btn-dark"><i class="fas fa-save"></i> Guardar</button>
    {{ form_end(edit_form) }}
{% endblock %}
