{% extends 'tablelist.html.twig' %}

{% block body %}
  {% block descriptionTable %}
  <br>
    <h1>Tipos</h1>
  {% endblock %}

  {% block filters %}
  <span></span>
  <br>
  {% endblock %}

  {% block new %}
    <a class="btn btn-dark" href="{{ path('estado_new') }}">Nuevo Estado</a>
  {% endblock %}
  {% block headPrincipalTable %}
    <th cope="row">Código</th>
    <th scope="row">Nomenclador</th>
    <th scope="row">Actions</th>
    {% endblock %}
    {% block bodyPrincipalTable %}
      {% for tipo in tipos %}
        <tr>
          <td><a href="{{ path('tipo_show', { 'id': tipo.id }) }}">{{ tipo.codigo }}</a></td>
          <td>{{ tipo.nomenclador }}</td>
          <td>
            <ul>
              <li>
                <a href="{{ path('tipo_show', { 'id': tipo.id }) }}">Ver</a>
              </li>
              <!-- <li>
                <a href="{{ path('tipo_edit', { 'id': tipo.id }) }}">edit</a>
              </li> -->
            </ul>
          </td>
        </tr>
    {% endfor %}
    {% endblock %}
{% endblock %}
