{% extends 'layout.html.twig' %}

{% block content %}
  <div class="container">
    <br>
    <h2>Tipos de Artículos</h2>
    <hr>
    <div class="">
      <a class="btn btn-dark" href="{{ path('tipo_new') }}">Agregar tipo</a>
    </div>
    <br>
    <div class="table-responsive">
      <table  id="tablaTipos"
              class="table table-hover table-striped"
              data-toggle="table"
              data-height="700"
              data-side-pagination="server"
              data-pagination="true"
              data-page-list="[2, 5, 10, 20, 50, 100, 200]"
              data-url="{{ path('tipo_list') }}"
              >
        <thead>
          <tr>
            <th scope="row" data-field="concepto">Concepto</th>
            <th scope="row" data-field="codigo">Código</th>
            <th scope="row" data-field="habilitado">Habilitado</th>
            <th data-field="id" data-formatter="operateFormatterShow">Ver</th>
            <th data-field="id" data-formatter="operateFormatterEdit">Editar</th>
          </tr>
        </thead>
      </table>
  </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
  function operateFormatterShow(value, row, index) {
    show = "{{ path('tipo_show', {id: -1})}}";
    show = show.replace('-1', value);
    return [
      `<a class="edit ml10" href="${show}" title="Ver"><i class="fas fa-search-plus"></i></a>`,
    ].join('');
  }
  function operateFormatterEdit(value, row, index) {
    edit = "{{ path('tipo_edit', {id: -1})}}";
    edit = edit.replace('-1', value);
    return [
      `<a class="edit ml10" href="${edit}" title="Editar"><i class="fas fa-edit"></i></a>`,
    ].join('');
  }
  var $table = $('#tablaTips');
</script>
{% endblock %}
