{% extends 'layout.html.twig' %}
{% block content %}
<div class="container">
  <br>
  <a href="{{ path('tipo_index') }}"><i class="fas fa-angle-left"></i> Listado de Tipos de Artículos</a>
  <br>
    <h2>Nuevo Tipo de Artículo</h2>
    <hr>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_errors(form) }}

    <button type="button" data-toggle="modal" data-target="#newModal" class="btn btn-dark"><i class="fas fa-save"></i> Guardar</button>

    <div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nuevo tipo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <i class="fas fa-info-circle"></i> Se creó un nuevo tipo de artículo.
          </div>
          <div class="modal-footer">
            <button type="submit" value="Create" class="btn btn-dark">Cerrar</button>
            {{ form_end(form) }}
          </div>
        </div>
      </div>
    </div>

    </div>
    {% endblock %}
