{% extends 'layout.html.twig' %}
{% block content %}
<div class="container">
  <br>
  <a href="{{ path('tipo_index') }}"><i class="fas fa-angle-left"></i> Listado de Tipos de Artículos</a>
  <br>
    <h2>Nuevo Tipo de Artículo</h2>
    <hr>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_errors(form) }}

    <button type="submit" value="Submit" class="btn btn-dark"><i class="fas fa-save"></i> Guardar</button>

    {{ form_end(form) }}

    </div>
    {% endblock %}
