{% extends 'layout.html.twig' %}
{% block content %}
<div class="container">
  <br>
  <a href="{{ path('tipo_index') }}"><i class="fas fa-angle-left"></i> Listado de Tipos de Artículos</a>
  <br>
  <hr>
    <h2>Nuevo Tipo de Artículo</h2>
    <hr>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_errors(form) }}

    <button type="submit" value="Submit" class="btn btn-dark"><i class="fas fa-save"></i> Guardar</button>

    {{ form_end(form) }}

    </div>
    {% endblock %}

  {% block serchArticulos  %}
  <script>
  var hab = 'true';
  $( document ).ready(function() {
     $("#appbundle_tipo_grupo").prop('disabled', true);
     $("#appbundle_tipo_subgrupo").prop('disabled', true);
     $("#appbundle_tipo_descripcion").prop('disabled', true);
  });

  $(document.body).on('change','#appbundle_tipo_nomenclador',function(){
    if (hab == 'true'){
      $("#appbundle_tipo_grupo").removeAttr('disabled');
      $("#appbundle_tipo_subgrupo").removeAttr('disabled');
      $("#appbundle_tipo_descripcion").removeAttr('disabled');
      $("#appbundle_tipo_vidaUtil").prop('disabled', true);
      hab = 'false';
    } else {
      $("#appbundle_tipo_grupo").prop('disabled', true);
      $("#appbundle_tipo_subgrupo").prop('disabled', true);
      $("#appbundle_tipo_descripcion").prop('disabled', true);
      $("#appbundle_tipo_vidaUtil").removeAttr('disabled', true);
        hab = 'true';
    }
  });
  </script>
  {% endblock %}
