{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
  <br>
  <a href="{{ path('tipo_index') }}"><i class="fas fa-angle-left"></i> Listado de Tipos de Artículos</a>
  <br>
  <hr>
    <h2>Tipo de Artículo: {{ tipo.nomenclador }}</h2>
<hr>
    <table class="table table">
        <tbody>
            <tr>
                <th scope="row">Código</th>
                <td scope="row">{{ tipo.codigo }}</td>
            </tr>
            <tr>
                <th scope="row">Concepto</th>
                <td scope="row">{{ tipo.concepto }}</td>
            </tr>
            <tr>
                <th scope="row">Nomenclador</th>
                <td scope="row">{{ tipo.nomenclador }}</td>
            </tr>
            <tr>
                <th scope="row">Cuenta</th>
                <td scope="row">{{ tipo.cuenta }}</td>
            </tr>
            <tr>
                <th scope="row">Grupo</th>
                <td scope="row">{{ tipo.grupo }}</td>
            </tr>
            <tr>
                <th scope="row">Subgrupo</th>
                <td scope="row">{{ tipo.subgrupo }}</td>
            </tr>
            <tr>
                <th scope="row">Descripción</th>
                <td scope="row">{{ tipo.descripcion }}</td>
            </tr>
            <tr>
                <th scope="row">Vida útil</th>
                <td scope="row">{{ tipo.vidaUtil }}</td>
            </tr>
            <tr>
                <th scope="row">Habilitado</th>
                <td scope="row">{% if tipo.habilitado %}Si{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

</div>
{% endblock %}
