{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
  <br>
  <a href="{{ path('tipo_index') }}"><i class="fas fa-angle-left"></i>Listado de Oficinas</a>
  <br>
    <h1>Tipo</h1>
    <table class="table table">
        <tbody>
            <tr>
                <th scope="row">Codigo</th>
                <td scope="row">{{ tipo.codigo }}</td>
            </tr>
            <tr>
                <th scope="row">Nomenclador</th>
                <td scope="row">{{ tipo.nomenclador }}</td>
            </tr>
            <tr>
                <th scope="row">Cuenta</th>
                <td scope="row">{{ tipo.cuenta }}</td>
            </tr>
            <tr>
                <th scope="row">Concepto</th>
                <td scope="row">{{ tipo.concepto }}</td>
            </tr>
            <tr>
                <th scope="row">Grupo</th>
                <td scope="row">{{ tipo.grupo }}</td>
            </tr>
            <tr>
                <th scope="row">Subgrupo</th>
                <td scope="row">{{ tipo.subgrupo }}</td>
            </tr>
            <tr>
                <th scope="row">Descripcion</th>
                <td scope="row">{{ tipo.descripcion }}</td>
            </tr>
            <tr>
                <th scope="row">Vidautil</th>
                <td scope="row">{{ tipo.vidaUtil }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <a class="btn btn-dark" href="{{ path('tipo_edit', { 'id': tipo.id }) }}">Editar</a>
    <br>
</div>
{% endblock %}
