{% extends 'base.html.twig' %}

{% block body %}
    <h1>Oficinas</h1>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Responsable</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for oficina in oficinas %}
            <tr scope="row">
                <td><a href="{{ path('oficina_show', { 'id': oficina.id }) }}">{{ oficina.nombre }}</a></td>
                <td>{{ oficina.responsable }}</td>
                <td>
                    <ul style="list-style-type: none;">
                        <li>
                            <a href="{{ path('oficina_show', { 'id': oficina.id }) }}">Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('oficina_edit', { 'id': oficina.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li style="list-style-type: none;">
            <a href="{{ path('oficina_new') }}">Crear nueva Oficina</a>
        </li>
    </ul>
{% endblock %}
