{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nueva Oficina</h1>

    {{ form_start(form) }}

        <div class="container">

        <div class="form-group">
          {{ form_label(form.nombre)}}
          {{ form_widget(form.nombre, { 'attr': {'class': 'form-control'}}) }}
          <small id="nombreHelp" class="form-text text-muted">{{ form_errors(form.nombre)}}</small>
        </div>

        <div class="form-group">
          {{ form_label(form.carpeta)}}
          {{ form_widget(form.carpeta, { 'attr': {'class': 'form-control'}}) }}
          <small id="carpetaHelp" class="form-text text-muted">{{ form_errors(form.carpeta)}}</small>
        </div>

        <div class="form-group">
          {{ form_label(form.responsable)}}
          {{ form_widget(form.responsable, { 'attr': {'class': 'form-control'}}) }}
        </div>

        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('oficina_index') }}">Listado de oficinas</a>
        </li>
    </ul>
{% endblock %}
