{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Editar Articulo</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Editar" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('articulo_index') }}">Volver al listado de Artículos</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Cambiar Estado">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
