{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
      <br>
      <a href="{{ path('oficina_show', { 'id': articulo.oficina.id }) }}"><i class="fas fa-angle-left"></i> Volver a {{articulo.oficina}}</a>
      <br>
      <hr>
      <h2>Editar Artículo: {{articulo.denominacion}} - {{articulo.numInventario}}</h2>
      <hr>
      {{ form_start(edit_form) }}
      {{ form_widget(edit_form.oficina, { 'attr': {'class': 'form-control', 'hidden': 'true' }}) }}
      {{ form_widget(edit_form) }}
      {{ form_errors(edit_form) }}
      {% if is_granted("ROLE_ADMIN") %}
        <button  id="btnGuardar"  class="btn btn-dark"><i class="fas fa-save"></i> Guardar</button>
      {% endif %}
      {{ form_end(edit_form) }}
{% endblock %}
{% block serchArticulos  %}
<script>
{% for id in CondDeshabilitadas %}
  $("#appbundle_articulo_condicion").find('[value="{{id}}"]').remove();
{% endfor %}

{% for id in TiposDeshabilitadas %}
  $("#appbundle_articulo_tipo").find('[value="{{id}}"]').remove();
{% endfor %}
$form = $('edit_form');
$('#btnGuardar').click(function(){
  var nroAct = $('#appbundle_articulo_numInventario').val();
  $( "#btnGuardar" ).removeAttr( "type");
  $( "#btnGuardar" ).removeAttr( "value");
  if (validateNroInventario(nroAct)) {
    $( "#btnGuardar" ).attr( "type","submit");
    $( "#btnGuardar" ).attr( "value","submit");
    return true;
  }else {
    $('.texto').remove();
    $('#appbundle_articulo_numInventario').after("<p class=\"texto text-danger\">Error: el número de inventario ingresado no es válido. El fomato válido es: xx-xxxx-número artículo</p>");
    $("html, body").animate({scrollTop: $('#appbundle_articulo_numInventario').offset().top }, 800);
    return false;
  }
});
function validateNroInventario(value){
  var array = value.split("-");
  if (array.length != 3) {
    return false;
  }
  if ((isNaN(array[0])) | (isNaN(array[1])) | (isNaN(array[2])) ) {
    return false;
  }
  if ((array[0].length > 2 | array[0].length < 1) | (array[1].length > 4 | array[1].length < 1)) {
    return false;
  }
  return  true;
}
</script>
{% endblock %}
