{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
      <br>
      <a href="{{ path('oficina_show', { 'id': articulo.oficina.id }) }}"><i class="fas fa-angle-left"></i> Volver a {{articulo.oficina}}</a>
      <br>
      <hr>
      <h2>Editar Artículo: {{articulo.denominacion}} - {{articulo.numInventario}}</h2>
      <hr>
      {{ form_start(edit_form) }}
      {{ form_widget(edit_form.oficina, { 'attr': {'class': 'form-control', 'hidden': 'true' }}) }}
      {{ form_widget(edit_form) }}
      {% if is_granted("ROLE_ADMIN") %}
        <button type="submit" value="Submit" class="btn btn-dark"><i class="fas fa-save"></i> Guardar</button>
      {% endif %}
      {{ form_end(edit_form) }}
    </div>
{% endblock %}
