{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
  <br>
  <a href="{{ path('oficina_show', { 'id': articulo.oficina.id }) }}"><i class="fas fa-angle-left"></i> Volver a {{articulo.oficina}} </a>
  <br>
  <hr>
    <h2>Historial del artículo: {{articulo.denominacion}} - {{articulo.numInventario}}</h2>
    <hr>
    <table class="table table">
        <tbody>
            {%  for h in historial %}
              <tr>
                  <th scope="row">El artículo desde la fecha:</th>
                  <td scope="row">{{ h.fechaDesde }}</td>

                  {% if h.estado == false %}
                    <th scope="row">se encuentra en la oficina: </th>
                    <td scope="row">{{ h.oficina }}</td>
                  {% else %}
                    <th scope="row">se encuentra:</th>
                    <td scope="row"><p style="color:red">Dado de baja</p></td>
                  {% endif %}
              </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
</div>






{% endblock %}
