{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
  <br>
  <a href="{{ path('oficina_show', { 'id': articulo.oficina.id }) }}"><i class="fas fa-angle-left"></i> Volver a {{articulo.oficina}} </a>
  <br>
  <hr>
    <h2>Historial del artículo: {{articulo.denominacion}} - {{articulo.numInventario}}</h2>
    <hr>
    <table class="table table-striped">
        <tr class="table-active">
          <th scope="row">Desde la fecha</th>
          <th scope="row">Se encuentra en la oficina</th>
        </tr>
        {%  for h in historial %}
        <tr>
          <td scope="row">{{ h.fechaDesde }}</td>
          {% if h.estado == false %}
            <td scope="row">{{ h.oficina }}</td>
          {% else %}
            <td scope="row"><p style="color:red">Dado de baja</p></td>
          {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>






{% endblock %}
