{% extends 'layout.html.twig' %}

{% block content %}
  <div class="container">
    <br>
    <a href="{{ path('oficina_index') }}"><i class="fas fa-angle-left"></i> Listado de Oficinas</a>
    <br>
    <hr>
    <h2>Artículos</h2>
    <hr>
    {% block filters %}

    <div class="jumbotron" style="padding-top: 1%; padding-bottom: 0%;">
      <h4>Buscar artículos por:</h4>
       <div class="form-row" >
         <div class="form-group col-md-6">
           <label>Nro. de expediente</label>
           <input type="text" id="expediente" class="form-control" placeholder="Nro. de expediente" name="expediente">
         </div>
        <div class="form-group col-md-6">
          <label>Nro. de inventario</label>
          <input type="text" id="nroInventario" class="form-control" placeholder="Nro. de inventario" name="inventario">
        </div>
        <div class="form-group col-md-6">
          <label>Denominación</label>
          <input type="text" id="denominacion" class="form-control" placeholder="Denominación" name="denominacion">
        </div>
        <div class="form-group col-md-2">
          <label>Estado</label>
          <select id="estado" class="form-control" name="estado">
            <option value=""> Seleccione </option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label>Estado adicional</label>
          <select id="estadoAdicional" class="form-control" name="tipo">
            <option value=""> Seleccione </option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label>Tipo</label>
          <select id="tipo" class="form-control" name="tipo">
            <option value=""> Seleccione </option>
          </select>
        </div>
        <div class="form-group col-md-12">
          <button id="button" class="btn btn-dark"><i class="fa fa-search" aria-hidden="true"></i>
            Buscar</button>
          <button id="buttonBorrar" class="btn btn-dark">Limpiar filtros</button>
        </div>
      </div>
    </div>
    {% endblock %}
    <hr>
    <h3>Listado de todos los artículos</h3>
    <hr>
    <form action="{{ path('listado_articulos_pdf') }}" method="post">
      <input type="text" name="nroInventario" id="nroInventario1" value="" hidden>
      <input type="text" name="denominacion" id="denominacion1" value="" hidden>
      <input type="text" name="nroExpediente" id="nroExpediente1" value="" hidden>
      <input type="text" name="tipo" value="" id="tipo1" hidden>
      <input type="text" name="estado" value="" id="estado1" hidden>
      <input type="text" name="estadoAdicional" id="estadoAdicional1" value="" hidden>
      <button style="margin-bottom: 2%; margin-top: 1%;" id="exportarButtonPDF" type="submit" class="btn btn-dark"><span class="fa fa-file-pdf-o"></span><i class="fa fa-paperclip" aria-hidden="true"></i> Exportar a PDF</button>
      <button style="margin-bottom: 2%; margin-top: 1%;" id="exportButtonExcel" class="btn btn-dark"><span class="fa fa-file-excel-o"></span><i class="fa fa-paperclip" aria-hidden="true"></i> Exportar a Excel</button>
    </form>
    <div class="table-responsive" >
      <div id="toolbar">
        <button id="button1" hidden class="btn btn-default">filterBy</button>
      </div>
      <table  id="tablaArticulos"
              class="table table-hover table-striped"
              data-toggle="table"
              data-show-header="true"
              data-side-pagination="server"
              data-pagination="true"
              data-page-list="[2, 5, 10, 20, 50, 100, 200]"
              data-sort-name="fechaEntrada"
              data-sort-order="desc"
              data-url="{{ path('articulo_list') }}"
              >
        <thead>
          <tr>
            <th scope="row" data-field="fechaEntrada">Fecha entrada</th>
            <th scope="row" data-field="oficina">Oficina</th>
            <th scope="row" data-field="numInventario">NroInventario</th>
            <th scope="row" data-field="denominacion">Denominación</th>
            <th scope="row" data-field="estado">Estado</th>
            <th scope="row" data-field="estadoAdicional">Estado Adicional</th>
            <th scope="row" data-field="condicion">Condicion</th>
            <!-- <th scope="row" data-field="numExpediente" data-sortable="true">Nro.Expediente</th> -->
            <th scope="row" data-field="tipo">Tipo</th>
            <th data-field="id" data-formatter="operateFormatterAction">Acciones</th>

            <!-- <th scope="row" data-field="material" data-visible="true">Material</th>
            <th scope="row" data-field="marca" data-visible="true">Marca</th>
            <th scope="row" data-field="numFabrica" data-visible="true">NumFabrica</th>
            <th scope="row" data-field="largo" data-visible="true">Largo</th>
            <th scope="row" data-field="alto" data-visible="true">Alto</th>
            <th scope="row" data-field="ancho" data-visible="true">Ancho</th>
            <th scope="row" data-field="estantes" data-visible="true">Estantes</th>
            <th scope="row" data-field="cajones" data-visible="true">Cajones</th>
            <th scope="row" data-field="detalleOrigen" data-visible="true">DetalleOrigen</th>
            <th scope="row" data-field="importe" data-visible="true">Importe</th>
            <th scope="row" data-field="codigoCuentaSubcuenta" data-visible="true">CodigoCuentaSubcuenta</th> -->


          </tr>
        </thead>
        <body>

        </body>
      </table>
  </div>
  <hr>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Artículo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <i class="fas fa-info-circle"></i> Se guardaron los cambios.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>

jQuery(function ($) {
$("#exportButtonExcel").click(function () {
  var datos;
  var nroInventario = $('#nroInventario').val();
  var expediente = $('#expediente').val();
  var denominacion = $('#denominacion').val();
  var estadoAdicional = $('#estadoAdicional').val();
  var estado = $('#estado').val();
  var tipo = $('#tipo').val();
  $.ajax({
    method: "POST",
    url: "articulo_listFilter",
    data: {
            "nroInventario":nroInventario,
            "expediente":expediente,
            "denominacion":denominacion,
            "estado":estado,
            "estadoAdicional": estadoAdicional,
            "tipo":tipo
          } ,
    success: function(data){
      var dataSourceExcel = new shield.DataSource(data);
      dataSourceExcel.read().then(function (data) {
          new shield.exp.OOXMLWorkbook({
              author: "PrepBootstrap",
              worksheets: [
      {
      name: "PrepBootstrap Table",
      rows: [
      {
      cells: [
          {
              style: {
                  bold: true
              },
              type: String,
              width: 120,
              value: "Numero de Inventario"
          },
          {
              style: {
                  bold: true
              },
              type: String,
              value: "Numero de Expediente"
          },
          {
              style: {
                  bold: true
              },
              type: String,
              value: "Denominacion"
          },
          {
              style: {
                  bold: true
              },
              type: String,
              value: "Tipo"
          },
          {
              style: {
                  bold: true
              },
              type: String,
              value: "Estado"
          },
          {
              style: {
                  bold: true
              },
              type: String,
              value: "Condicion"
          },
          {
              style: {
                  bold: true
              },
              type: String,
              value: "Oficina"
          },
          {
              style: {
                  bold: true
              },
              type: String,
              value: "Material"
          },
          {
              style: {
                  bold: true
              },
              type: String,
              value: "Marca"
          },
          {
              style: {
                  bold: true
              },
              type: String,
              value: "NumFabrica"
          },
          {
              style: {
                  bold: true
              },
              type: String,
              value: "Largo"
          },
          {
              style: {
                  bold: true
              },
              type: String,
              value: "Alto"
          },
          {
              style: {
                  bold: true
              },
              type: String,
              value: "Ancho"
          },
          {
              style: {
                  bold: true
              },
              type: String,
              value: "Estantes"
          },
          {
              style: {
                  bold: true
              },
              type: String,
              value: "Cajones"
          },
          {
              style: {
                  bold: true
              },
              type: String,
              value: "DetalleOrigen"
          },
          {
              style: {
                  bold: true
              },
              type: String,
              value: "Importe"
          },
          {
              style: {
                  bold: true
              },
              type: String,
              value: "Entrada"
          },
          {
              style: {
                  bold: true
              },
              type: String,
              value: "CodigoCuentaSubcuenta"
          }
        ]
      }
      ].concat($.map(data, function(item) {
      console.log(item);
      return {
        cells: [
                { type: Number, value: item.numInventario },
                { type: Number, value: item.numExpediente },
                { type: String, value: item.denominacion },
                { type: String, value: item.tipo },
                { type: String, value: item.estado },
                { type: String, value: item.condicion },
                { type: String, value: item.oficina },
                { type: String, value: item.material },
                { type: String, value: item.marca },
                { type: String, value: item.numFabrica },
                { type: String, value: item.largo },
                { type: String, value: item.alto },
                { type: String, value: item.ancho },
                { type: String, value: item.estantes },
                { type: String, value: item.cajones },
                { type: String, value: item.detalleOrigen },
                { type: String, value: item.importe },
                { type: String, value: item.fechaEntrada },
                { type: String, value: item.codigoCuentaSubcuenta }
                ]
              };
            }))
            }
          ]
          }).saveAs({
          fileName: "Listado_de_articulos"
          });
        });
    }});
    return false;
  });
});




$("#exportarButtonPDF").click(function () {
  $("#nroInventario1").val($("#nroInventario").val());
  $("#nroExpediente1").val($("#expediente").val());
  $("#denominacion1").val($("#denominacion").val());
  $("#tipo1").val($("#tipo").val());
  $("#estado1").val($("#estado").val());
  $("#estadoAdicional1").val($("#estadoAdicional").val());


  //return true;
});

{% if editado == 'editado' %}
  $('#editModal').modal('show');
{%endif%}

function operateFormatterAction(value, row, index) {
  show = "{{ path('articulo_show', {id: -1})}}";
  show = show.replace('-1', value);
  edit = "{{ path('articulo_edit', {id: -1})}}";
  edit = edit.replace('-1', value);
  return [
    {% if is_granted("ROLE_ADMIN") %}
    `<a class="edit ml10 btn btn-sm btn-outline-primary" href="${show}" title="Ver artículo"><i class="fas fa-search-plus"></i></a>&nbsp;&nbsp;
    <a class="edit ml10 btn btn-sm btn-outline-primary" href="${edit}" title="Editar artículo"><i class="fas fa-edit"></i></a>`,
    {% else %}
    `<a class="edit ml10 btn btn-sm btn-outline-primary" href="${show}" title="Ver artículo"><i class="fas fa-search-plus"></i></a>`,
    {% endif %}
  ].join('');
}

var xhttpEstados = new XMLHttpRequest();
xhttpEstados.onreadystatechange = function() {
  if (this.readyState == 4 && this.status == 200) {
    var listado = JSON.parse(this.responseText);
    var estados = listado.rows;
    var opciones = "";
    for(es in estados){
      if (estados[es].habilitado == 'Si' && estados[es].nombre != 'Transferido') {
        opciones += "<option value= \""+ estados[es].id + "\">"+ estados[es].nombre +"</option>";
      }
    }
    $("#estado").append(opciones);
  }
};
xhttpEstados.open("GET", "{{ path('estado_list') }}", true);
xhttpEstados.send();

var xhttpTipos = new XMLHttpRequest();
xhttpTipos.onreadystatechange = function() {
  if (this.readyState == 4 && this.status == 200) {
    var listado = JSON.parse(this.responseText);
    var tipos = listado.rows;
    var opciones = "";
    for(ti in tipos){
      if (tipos[ti].habilitado == 'Si') {
        opciones += "<option value= \""+ tipos[ti].id + "\">"+ tipos[ti].concepto +"</option>";
      }
    }
    $("#tipo").append(opciones);
  }
};
xhttpTipos.open("GET", "{{ path('tipo_list') }}", true);
xhttpTipos.send();

var xhttpTipos = new XMLHttpRequest();
xhttpTipos.onreadystatechange = function() {
  if (this.readyState == 4 && this.status == 200) {
    var listado = JSON.parse(this.responseText);
    var tipos = listado.rows;
    var opciones = "";
    for(ti in tipos){
      if (tipos[ti].habilitado == 'Si') {
        opciones += "<option value= \""+ tipos[ti].id + "\">"+ tipos[ti].nombre +"</option>";
      }
    }
    $("#estadoAdicional").append(opciones);
  }
};
xhttpTipos.open("GET", "{{ path('estadoAdicional_list') }}", true);
xhttpTipos.send();

function operateFormatter(value, row, index) {
  show = "{{ path('articulo_show', {id: -1})}}";
  show = show.replace('-1', value);
  return [
    `<a class="edit ml10" href="${show}" title="Ver"><i class="fas fa-search-plus"></i></a>`,
  ].join('');
}

$.extend($.fn.bootstrapTable.defaults, {
    showExport: false,
    exportDataType: 'basic', // basic, all, selected
    // 'json', 'xml', 'png', 'csv', 'txt', 'sql', 'doc', 'excel', 'powerpoint', 'pdf'
    exportTypes: ['pdf', 'excel'],
    exportOptions: {}
});
$.extend($.fn.bootstrapTable.defaults.icons, {
    export: 'fas fa-file-export'
});

</script>
{% endblock %}

{% block serchArticulos  %}
<script>
$("button").click(function(){
  show = "{{ path('articulo_list',{nroInventario: -1}) }}";
  var nroInventario = $('#nroInventario').val();
  var expediente = $('#expediente').val();
  var denominacion = $('#denominacion').val();
  var estadoAdicional = $('#estadoAdicional').val();
  var estado = $('#estado').val();
  var tipo = $('#tipo').val();
  var query = `${nroInventario}&expediente=${expediente}&denominacion=${denominacion}&
                estado=${estado}&estadoAdicional=${estadoAdicional}&tipo=${tipo}`;
  show = show.replace('-1', query);
  $('#tablaArticulos').bootstrapTable('refresh', {url: show});
  });

$("#buttonBorrar").click(function(){
  show = "{{ path('articulo_list',{nroInventario: -1}) }}";
  $('#nroInventario').val('');
  $('#expediente').val('');
  $('#denominacion').val('');
  $('#estado').val('');
  $('#tipo').val('');
  $('#estadoAdicional').val('');
  var nroInventario = $('#nroInventario').val();
  var expediente = $('#expediente').val();
  var denominacion = $('#denominacion').val();
  var estado = $('#estado').val();
  var tipo = $('#tipo').val();
  var estadoAdicional = $('#estadoAdicional').val();
  var query = `${nroInventario}&expediente=${expediente}&denominacion=${denominacion}&
                estado=${estado}&estadoAdicional=${estadoAdicional}&tipo=${tipo}`;
  show = show.replace('-1', query);
  $('#tablaArticulos').bootstrapTable('refresh', {url: show});
  });

</script>
{% endblock %}
