{% extends 'layout.html.twig' %}

{% block content %}
  <div class="container">
    <br>
    <h1>Artículos</h1>
    <hr>
    {% block filters %}

    <div class="jumbotron">
      <h4>Buscar artículos por:</h4>
       <div class="form-row" >
         <div class="form-group col-md-6">
           <label>Nro. de expediente</label>
           <input type="text" id="expediente" class="form-control" placeholder="Nro. de expediente" name="expediente">
         </div>
        <div class="form-group col-md-6">
          <label>Nro. de inventario</label>
          <input type="text" id="nroInventario" class="form-control" placeholder="Nro. de inventario" name="inventario">
        </div>
        <div class="form-group col-md-6">
          <label>Denominación</label>
          <input type="text" id="denominacion" class="form-control" placeholder="Denominación" name="denominacion">
        </div>
        <div class="form-group col-md-3">
          <label>Estado</label>
          <select id="estado" class="form-control" name="estado">
            <option value=""> Seleecione </option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label>Tipo</label>
          <select id="tipo" class="form-control" name="tipo">
            <option value=""> Seleecione </option>
          </select>
        </div>
        <div class="form-group col-md-12">
          <button id="button" class="btn btn-dark">Buscar</button>
          <button id="buttonBorrar" class="btn btn-dark">Limpiar filtros</button>
        </div>
      </div>
    </div>
    {% endblock %}
    <hr>
    <h3>Listado de todos los artículos</h3>
    <hr>
    <div class="table-responsive">
      <div id="toolbar">
        <button id="button1" hidden class="btn btn-default">filterBy</button>
      </div>
      <table  id="tablaArticulos"
              data-toolbar="#toolbar"
              data-show-export="true"
              class="table table-hover table-striped"
              data-toggle="table"
              data-height="700"
              data-side-pagination="server"
              data-pagination="true"
              data-page-list="[2, 5, 10, 20, 50, 100, 200]"
              data-show-columns="true"
              data-url="{{ path('articulo_list') }}"
              >
        <thead>
          <tr>
            <th scope="row" data-field="numInventario" data-sortable="true">Nro. Inventario</th>
            <th scope="row" data-field="numExpediente" data-sortable="true">Nro. Expediente</th>
            <th scope="row" data-field="denominacion" data-sortable="true">Denominación</th>
            <th scope="row" data-field="tipo" data-sortable="true">Tipo</th>
            <th scope="row" data-field="estado" data-sortable="true">Estado</th>
            {% if is_granted("ROLE_ADMIN") %}
            <th data-field="id" data-formatter="operateFormatterShow">Ver</th>
            <th data-field="id" data-formatter="operateFormatterEdit">Editar</th>
            {% endif %}
          </tr>
        </thead>
      </table>
  </div>
  <hr>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>

var xhttpEstados = new XMLHttpRequest();
xhttpEstados.onreadystatechange = function() {
  if (this.readyState == 4 && this.status == 200) {
    var listado = JSON.parse(this.responseText);
    var estados = listado.rows;
    var opciones = "";
    for(es in estados){
      if (estados[es].habilitado == 'Si') {
        opciones += "<option value= \""+ estados[es].id + "\">"+ estados[es].nombre +"</option>";
      }
    }
    $("#estado").append(opciones);
  }
};
xhttpEstados.open("GET", "{{ path('estado_list') }}", true);
xhttpEstados.send();

var xhttpTipos = new XMLHttpRequest();
xhttpTipos.onreadystatechange = function() {
  if (this.readyState == 4 && this.status == 200) {
    var listado = JSON.parse(this.responseText);
    var tipos = listado.rows;
    var opciones = "";
    for(ti in tipos){
      if (tipos[ti].habilitado == 'Si') {
        opciones += "<option value= \""+ tipos[ti].id + "\">"+ tipos[ti].nomenclador +"</option>";
      }
    }
    $("#tipo").append(opciones);
  }
};
xhttpTipos.open("GET", "{{ path('tipo_list') }}", true);
xhttpTipos.send();

  function operateFormatterShow(value, row, index) {
    show = "{{ path('articulo_show', {id: -1})}}";
    show = show.replace('-1', value);
    return [
      `<a class="edit ml10" href="${show}" title="Ver"><i class="fas fa-search-plus"></i></a>`,
    ].join('');
  }

  function operateFormatterEdit(value, row, index) {
    edit = "{{ path('articulo_edit', {id: -1})}}";
    edit = edit.replace('-1', value);
    return [
      `<a class="edit ml10" href="${edit}" title="Editar"><i class="fas fa-edit"></i></a>`,
    ].join('');
  }

  var $table = $('#tablaArticulos');
  $.extend($.fn.bootstrapTable.defaults, {
      showExport: false,
      exportDataType: 'basic', // basic, all, selected
      // 'json', 'xml', 'png', 'csv', 'txt', 'sql', 'doc', 'excel', 'powerpoint', 'pdf'
      exportTypes: ['pdf', 'excel'],
      exportOptions: {}
  });
  $.extend($.fn.bootstrapTable.defaults.icons, {
      export: 'fas fa-file-export'
  });

</script>
{% endblock %}

{% block serchArticulos  %}
<script>
var $table = $('#tablaArticulos');

$("button").click(function(){
  var nroInventario = $('#nroInventario').val();
  var expediente = $('#expediente').val();
  var denominacion = $('#denominacion').val();
  var estado = $('#estado').val();
  var tipo = $('#tipo').val();
  $.ajax({
    method: "POST",
    url: "articulo_listFilter",
    data: {
            "nroInventario":nroInventario,
            "expediente":expediente,
            "denominacion":denominacion,
            "estado":estado,
            "tipo":tipo
          } ,
    success: function(data) {
      //alert(data);
      $table.bootstrapTable('load',data);
      }
    });
  });

  $("#buttonBorrar").click(function(){
    $('#nroInventario').val('');
    $('#expediente').val('');
    $('#denominacion').val('');
    $('#estado').val('');
    $('#tipo').val('');
    var nroInventario = $('#nroInventario').val();
    var expediente = $('#expediente').val();
    var denominacion = $('#denominacion').val();
    var estado = $('#estado').val();
    var tipo = $('#tipo').val();
    $.ajax({
      method: "POST",
      url: "articulo_listFilter",
      data: {
              "nroInventario":nroInventario,
              "expediente":expediente,
              "denominacion":denominacion,
              "estado":estado,
              "tipo":tipo
            } ,
      success: function(data) {
        //alert(data);
        $table.bootstrapTable('load',data);
        }
      });
    });

</script>
{% endblock %}
