{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block content %}
  <div class="container">
    <br>
    {% if errors | length > 0 %}
      <div class="alert alert-danger" role="alert">
          <h4 class="alert-heading">{{ (errors | length == 1)?'Existen el siguiente error:':'Existen los siguientes errores:' }}</h4>
          <ul>
          {% for error in errors %}
            <li>{{ error }}</li>
          {% endfor %}
          </ul>
          <hr/>
          <p><a href="{{ path(backPath) }}">Volver a {{ backTitle }}</a></p>
      </div>
    {% else %}
    <a href="{{ path('oficina_index') }}"><i class="fas fa-angle-left"></i> Listado de Oficinas</a>
    <br>
    <hr>
    <h2>Nuevo Artículo</h2>
    <hr>
    {{ form_start(form) }}
    {{ form_widget(form.oficina, { 'attr': {'class': 'form-control', 'hidden': 'true' }}) }}
    {{ form_widget(form) }}

    <label class="" >Estado Adicional: </label>


        <select class="form-control" id="estadoAdicional" name="estadoAdicional">
            {% for e in estados %}
            
              <option value="{{e.nombre}}">{{e.nombre}}</option>

            {% endfor %}
        </select>

    {{ form_errors(form) }}
    <label><strong>Cantidad de Artículos a agregar a la oficina(*): </strong></label>
    <input id="cantidad" type="number" name="cantidad" value="1" min ="1" required><br>
    <input id="num" type="number" name="numInvent" value="1" hidden><br>
    <label><strong>(*)El número que ingrese, indicará la cantidad artículos idénticos con número de inventario consecutivo que se crearán.</strong></label><br><br>
    {% if is_granted("ROLE_ADMIN") %}
    <button type="button" id="btnGuardar" data-toggle="modal" data-target="#addModal" class="btn btn-dark"><i class="fas fa-save"></i> Guardar</button>
    {% endif %}

    {% endif %}
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar artículo/s</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="modal-body" class="modal-body">
          <p id="textoMensaje"></p>
        </div>
        <div class="modal-footer">
             <button type="submit" value="Delete" class="btn btn-dark">Aceptar</button>
            <button type="button" class="btn btn-dark" data-dismiss="modal">Cancelar</button>
          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block serchArticulos  %}
<script>
$form = $('form');
$num = $('#num');
$numActual = $('#appbundle_articulo_numInventario');
$denominacion = $('#appbundle_articulo_denominacion');
$('#btnGuardar').click(function(){
  var leyenda = "";
  var denominacion = $('#appbundle_articulo_denominacion').val();
  var nroAct = $('#appbundle_articulo_numInventario').val();
  for (var i = 0; i < $('#cantidad').val(); i++) {
    leyenda += "<p> (*) Número de inventario: "+ nroAct +" - Denominación: "+ denominacion +"<p>";
    nroAct++;
  }
  $('#textoMensaje').text("Se agregarán  "+ $('#cantidad').val() + " artículo/s "+ $('#appbundle_articulo_denominacion').val() + " a partir del número de inventario "
  + $('#appbundle_articulo_numInventario').val());
  $('#modal-body').append(leyenda);
});
  $form.submit(function(){
  $num.val($numActual.val());
});

{% for id in CondDeshabilitadas %}
  $("#appbundle_articulo_condicion").find('[value="{{id}}"]').remove();
{% endfor %}

{% for id in TiposDeshabilitadas %}
  $("#appbundle_articulo_tipo").find('[value="{{id}}"]').remove();
{% endfor %}
</script>
{% endblock %}
