{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block content %}
  <div class="container">
    <br>
    {% if errors | length > 0 %}
      <div class="alert alert-danger" role="alert">
          <h4 class="alert-heading">{{ (errors | length == 1)?'Existen el siguiente error:':'Existen los siguientes errores:' }}</h4>
          <ul>
          {% for error in errors %}
            <li>{{ error }}</li>
          {% endfor %}
          </ul>
          <hr/>
          <p><a href="{{ path(backPath) }}">Volver a {{ backTitle }}</a></p>
      </div>
    {% else %}
    <a href="{{ path('articulo_index') }}"><i class="fas fa-angle-left"></i> Listado de Artículos</a>
    <br>
    <h1>Nuevo Artículo</h1>
    {{ form_start(form) }}
    {{ form_widget(form.oficina, { 'attr': {'class': 'form-control', 'hidden': 'true' }}) }}
    {{ form_widget(form) }}
    {{ form_errors(form) }}
    {% if is_granted("ROLE_ADMIN") %}
    <button type="submit" value="Submit" class="btn btn-dark"><i class="fas fa-save"></i> Guardar</button>
    {% endif %}
    {{ form_end(form) }}
    {% endif %}
  </div>
{% endblock %}


{% block serchArticulos  %}
<script>
{% for id in CondDeshabilitadas %}
  $("#appbundle_articulo_condicion").find('[value="{{id}}"]').remove();
{% endfor %}
{% for id in TiposDeshabilitadas %}
  $("#appbundle_articulo_tipo").find('[value="{{id}}"]').remove();
{% endfor %}
</script>
{% endblock %}
