{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block content %}
  <div class="container">
    <br>
    <a href="{{ path('articulo_index') }}"><i class="fas fa-angle-left"></i>Listado de Artículos</a>
    <br>
    <h1>Nuevo Artículo</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_errors(form) }}

    <button type="submit" value="Submit" class="btn btn-dark"><i class="fas fa-save"></i> Guardar</button>

    {{ form_end(form) }}

  </div>
{% endblock %}
