{% extends 'layout.html.twig' %}

{% block content %}

<pdf>
<div class="container">
    <dynamic-page>
      <br>
      <a href="{{ path('articulo_index') }}"><i class="fas fa-angle-left"></i> Listado de Artículos</a>
      <br>
      <hr>
      <h2>Listado de Artículos</h2>
      <hr>
      <button id="btPrint" class="btn btn-dark" type="button" onclick="imprimirPagina()" name="button"><i class="fa fa-paperclip" aria-hidden="true"></i> Exportar a PDF</button><br>
      <div class="table-responsive">
      <table class="table" name="TABLA"><br>
          <thead class="thead">
              <tr>
                <th>Entrada</th>
                <th>Oficina</th>
                <th>Nro. Inventario</th>
                <th>Denominación</th>
                <th>Estado</th>
                <th>Condicion</th>
                <th>Oficina</th>



                <th>Marca</th>
                <th>NumFabrica</th>



                <th>Importe</th>
                <th>Entrada</th>

              </tr>
          </thead>
          <tbody><td>
          {% for a in articulo %}
              <tr>
                  <td>{{a.fechaEntrada|date('d-m-Y ')}}</td>
                  <td>{{a.oficina}}</td>
                  <td>{{a.numInventario}}</td>
                  <td>{{a.denominacion}}</td>
                  <td>{{a.estado}}</td>
                  <td>{{a.condicion}}</td>
                  <td>{{a.tipo}}</td>
                  <td>{{ a.estado }}</td>
                  <td>{{ a.condicion }}</td>
                  <td>{{a.oficina}}</td>
                  <td>{{a.marca}}</td>
                  <td>{{ a.numFabrica }}</td>
                  <td>{{ a.importe }}</td>
                  <td>{{ a.fechaEntrada|date('d-m-Y ') }}</td>

              </tr>
              {% endfor %}
          </tbody>
      </table>
          </div>
    </dynamic-page>
    </div>
</pdf>


{% endblock %}
{% block transferenciaJs  %}
<script src="{{ asset('scripts/jquery.js') }}"></script>
<link href="{{ asset('bootstrap/css/style.css') }}" rel="stylesheet">
<link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<script src="{{ asset('scripts/pdfmake/pdfmake.min.js') }}"> </script>
<script src="{{ asset('scripts/pdfmake/vfs_fonts.js') }}" > </script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="{{ asset('lib/bootstrap-table/assets/bootstrap4/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('lib/bootstrap-table/bootstrap-table.min.css') }}">
<script>
var docDefinition = {
  content: [
    {
      table: {
        headerRows: 1,
        widths: [ 40, 40, 50, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40],
        body: [
          [ 'Inventario', 'Expediente', 'Denominacion', 'Tipo', 'Condicion', 'Oficina', 'Estado', 'Marca', 'Fabrica',  'Importe', 'Entrada' ],
          {% for a in articulo %}
          [ '{{a.numInventario}}', '{{a.numExpediente}}', '{{a.denominacion}}', '{{a.tipo}}', '{{a.condicion}}', '{{a.oficina}}', '{{a.estado}}', '{{a.marca}}', '{{a.numFabrica}}',  '{{a.importe}}', '{{ a.fechaEntrada|date("d-m-Y ") }}'],
          {% endfor %}
        ]
    , margin: 0  }

    }
  ],
  defaultStyle: {
    fontSize: 6,
    bold: true
  }
};

function imprimirPagina() {
   pdfMake.createPdf(docDefinition).download('Articulos.pdf');
}

</script>
{% endblock %}
