{% extends 'layout.html.twig' %}

{% block content %}
<pdf>
  <div class="container">
    <dynamic-page>
      <br>
      <a href="{{ path('oficina_show', {'id':oficina.id}) }}"><i class="fas fa-angle-left"></i> Volver a {{oficina}}</a>
      <br>
      <hr>
      <h2>Listado de Artículos de {{oficina}}</h2>
      <hr>
      <button id="btPrint" class="btn btn-dark" type="button" onclick="imprimirPagina()" name="button"><i class="fa fa-paperclip" aria-hidden="true"></i>
        Exportar a PDF</button><br>
      <div class="table-responsive">
          <table class="table table-striped" name="TABLA"><br>
          <thead class="thead">
              <tr class="table-active">
                <th>Entrada</th>
                <!-- <th>Oficina</th> -->
                <th>Nro. Inventario</th>
                <th>Denominación</th>
                <th>Estado</th>
                <th>Estado adicional</th>
                <th>Condicion</th>
                <th>Tipo</th>
                <th>Importe</th>
                <th>Detalle origen</th>
                <th>Codigo cuenta/subcuenta</th>
                <th>Nro. expediente</th>
                <th>Marca</th>
                <th>Material</th>
                <th>Nro. Fabrica</th>
                <th>Largo</th>
                <th>Ancho</th>
                <th>Alto</th>
                <th>Nro. estantes</th>
                <th>Nro. cajones</th>
              </tr>
          </thead>
          <tbody>
          {% for a in articulo %}
              <tr>
                <td>{{a.fechaEntrada|date('d-m-Y ')}}</td>
                <td>{{a.numInventario}}</td>
                <td>{{a.denominacion}}</td>
                <td>{{a.estado}}</td>
                <td>{{a.estadoAdicional}}</td>
                <td>{{a.condicion}}</td>
                <td>{{a.tipo}}</td>
                <td>{{a.importe}}</td>
                <td>{{a.detalleOrigen}}</td>
                <td>{{a.codigoCuentaSubcuenta}}</td>
                <th>{{a.numExpendiente}}</th>
                <td>{{a.marca}}</td>
                <td>{{a.material}}</td>
                <td>{{a.numFabrica}}</td>
                <td>{{a.largo}}</td>
                <td>{{a.ancho}}</td>
                <td>{{a.alto}}</td>
                <td>{{a.estantes}}</td>
                <td>{{a.cajones}}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </dynamic-page>
      </div>
    </div>
</pdf>
{% endblock %}
{% block transferenciaJs  %}
<script src="{{ asset('scripts/jquery.js') }}"></script>
<link href="{{ asset('bootstrap/css/style.css') }}" rel="stylesheet">
<link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<script src="{{ asset('scripts/pdfmake/pdfmake.min.js') }}"> </script>
<script src="{{ asset('scripts/pdfmake/vfs_fonts.js') }}" > </script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="{{ asset('lib/bootstrap-table/assets/bootstrap4/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('lib/bootstrap-table/bootstrap-table.min.css') }}">
<script>
var docDefinition = {
  pageOrientation: 'landscape',
  pageMargins: [ 20, 30, 20, 30 ],
  footer: function(currentPage, pageCount) { return '' + currentPage.toString() + ' de ' + pageCount + ' páginas'; },
  header: function(currentPage, pageCount, pageSize) {

    return [
      { text: 'Sistema de Inventario - Reporte de artículos por oficina- Facultas de Cs. Médicas ', alignment: (currentPage % 2) ? 'right' : 'right' },
      { canvas: [ { type: 'rect', x: 170, y: 32, w: pageSize.width - 170, h: 40 } ] }
    ]
  },
  content: [
    {
      table: {
        headerRows: 1,
        widths: [ 'auto','auto','auto','auto','auto','auto','auto','auto','auto','auto','auto', 'auto','auto','auto','auto','auto','auto','auto','auto','auto'],
        body: [
          [ 'Entrada', 'Oficina', 'Nro. Inventario', 'Denominación', 'Estado', 'Estado adicional', 'Condición', 'Tipo', 'Importe', 'Detalle origen', 'Codigo cuenta/subcuenta', 'Nro. expediente', 'Marca', 'Material', 'Nro. Fabrica', 'Largo', 'Ancho', 'Alto', 'Nro. estantes',  'Nro. cajones' ],
          {% for a in articulo %}
          [ '{{a.fechaEntrada|date('d-m-Y ')}}', '{{a.oficina}}', '{{a.numInventario}}', '{{a.denominacion}}', '{{a.estado}}', '{{a.estadoAdicional}}', '{{a.condicion}}', '{{a.tipo}}', '{{a.importe}}',  '{{a.detalleOrigen}}',
        '{{a.codigoCuentaSubcuenta}}', '{{a.numExpendiente}}', '{{a.marca}}', '{{a.material}}', '{{a.numFabrica}}', '{{a.largo}}', '{{a.ancho}}', '{{a.alto}}', '{{a.estantes}}', '{{a.cajones}}'],
          {% endfor %}
        ]
    , margin: 0  }

    }
  ],
  defaultStyle: {
    fontSize: 8,
    bold: false
  }
};

function imprimirPagina() {
   pdfMake.createPdf(docDefinition).download('ArticulosPorOficina.pdf');
}

</script>
{% endblock %}
