{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
  <br>
  <a href="{{ path('oficina_show', { 'id': articulo.oficina.id }) }}"><i class="fas fa-angle-left"></i> Volver a {{articulo.oficina}}</a>
  <hr>
    <h2>{{articulo.denominacion}} - {{articulo.numInventario}}</h2><hr> <br>
    <table class="table">

        <tbody>
          <tr>
              <th><a href="{{ path('articulo_historial', {'id': articulo.id}) }}">Ver historial de oficinas</a></th>
              <td></td>
          </tr>
          <tr>
              <th>Oficina</th>
              <td>{{ articulo.oficina }}</td>
          </tr>
          <tr>
              <th>Denominación</th>
              <td>{{ articulo.denominacion }}</td>
          </tr>
            <tr>
                <th>Número de Inventario</th>
                <td>{{ articulo.numInventario }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ articulo.estado }}</td>
            </tr>
            <tr>
                <th>Estado Adicional</th>
                <td>{{ articulo.estadoAdicional }}</td>
            </tr>
            <tr>
                <th>Condicion</th>
                <td>{{ articulo.condicion }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ articulo.tipo }}</td>
            </tr>
            <tr>
                <th>Fecha Entrada</th>
                <td>{% if articulo.fechaEntrada %}{{ articulo.fechaEntrada|date('d-m-y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Material</th>
                <td>{{ articulo.material }}</td>
            </tr>
            <tr>
                <th>Marca</th>
                <td>{{ articulo.marca }}</td>
            </tr>
            <tr>
                <th>Número  de Fábrica</th>
                <td>{{ articulo.numFabrica }}</td>
            </tr>
            <tr>
                <th>Largo</th>
                <td>{{ articulo.largo }}</td>
            </tr>
            <tr>
                <th>Ancho</th>
                <td>{{ articulo.ancho }}</td>
            </tr>
            <tr>
                <th>Alto</th>
                <td>{{ articulo.alto }}</td>
            </tr>
            <tr>
                <th>Número de Estantes</th>
                <td>{{ articulo.numsEstantes }}</td>
            </tr>
            <tr>
                <th>Número de Cajones</th>
                <td>{{ articulo.numsCajones }}</td>
            </tr>
            <tr>
                <th>Detalle Origen</th>
                <td>{{ articulo.detalleOrigen }}</td>
            </tr>
            <tr>
                <th>Importe</th>
                <td>{{ articulo.importe }}</td>
            </tr>
            <tr>
                <th>Código Cuenta/Subcuenta</th>
                <td>{{ articulo.codigoCuentaSubcuenta }}</td>
            </tr>
            <tr>
                <th>Número Expediente</th>
                <td>{{ articulo.numExpediente }}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>{{ articulo.observaciones }}</td>
            </tr>
        </tbody>
    </table>
    <br>
</div>
{% endblock %}
