{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
  <br>
  <a href="{{ path('articulo_index') }}"><i class="fas fa-angle-left"></i> Listado de Artículos</a>
  <br>
    <h1>Artículo: {{articulo.denominacion}}</h1>
    <a href="#">Ver historial de oficinas de {{articulo.denominacion}}</a><br>
    <table style="margin: 15px;" class="table table">
        <tbody>
          <tr>
              <th scope="row">Oficina</th>
              <td scope="row">{{ articulo.oficina }}</td>
          </tr>
          <tr>
              <th scope="row">Denominación</th>
              <td scope="row">{{ articulo.denominacion }}</td>
          </tr>
            <tr>
                <th scope="row">Número de Inventario</th>
                <td scope="row">{{ articulo.numInventario }}</td>
            </tr>
            <tr>
                <th scope="row">Estado</th>
                <td scope="row">{{ articulo.estado }}</td>
            </tr>
            <tr>
                <th scope="row">Material</th>
                <td scope="row">{{ articulo.material }}</td>
            </tr>
            <tr>
                <th scope="row">Marca</th>
                <td scope="row">{{ articulo.marca }}</td>
            </tr>
            <tr>
                <th scope="row">Número  de Fábrica</th>
                <td scope="row">{{ articulo.numFabrica }}</td>
            </tr>
            <tr>
                <th scope="row" scope="row">Largo</th>
                <td scope="row">{{ articulo.largo }}</td>
            </tr>
            <tr>
                <th scope="row">Ancho</th>
                <td scope="row">{{ articulo.ancho }}</td>
            </tr>
            <tr>
                <th scope="row">Alto</th>
                <td scope="row">{{ articulo.alto }}</td>
            </tr>
            <tr>
                <th scope="row">Número de Estantes</th>
                <td scope="row">{{ articulo.numsEstantes }}</td>
            </tr>
            <tr>
                <th scope="row">Número de Cajones</th>
                <td scope="row">{{ articulo.numsCajones }}</td>
            </tr>
            <tr>
                <th scope="row">Detalle Origen</th>
                <td scope="row">{{ articulo.detalleOrigen }}</td>
            </tr>
            <tr>
                <th scope="row">Importe</th>
                <td scope="row">{{ articulo.importe }}</td>
            </tr>
            <tr>
                <th scope="row">Fecha Entrada</th>
                <td scope="row">{% if articulo.fechaEntrada %}{{ articulo.fechaEntrada|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th scope="row">Condicion</th>
                <td scope="row">{{ articulo.condicion }}</td>
            </tr>
            <tr>
                <th scope="row">Código Cuenta/Subcuenta</th>
                <td scope="row">{{ articulo.codigoCuentaSubcuenta }}</td>
            </tr>
            <tr>
                <th scope="row">Número Expediente</th>
                <td scope="row">{{ articulo.numExpediente }}</td>
            </tr>
            <tr>
                <th scope="row">Observaciones</th>
                <td scope="row">{{ articulo.observaciones }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    {% if is_granted("ROLE_ADMIN") %}
    <a class="btn btn-dark" style="margin: 15px;" href="{{ path('articulo_edit', { 'id': articulo.id }) }}">Editar</a>
    {% endif %}
    <br>
</div>
{% endblock %}
